<div class="request-key-point-card">
    <div class="column">{{ request.facilityName || "" }}</div>
    <div class="column">{{ request.authorName }}</div>
    <div class="column">
        <div
            [ngClass]="{
                'status-0': request.status == 0,
                'status-1': request.status == 1,
                'status-2': request.status == 2
            }"
        >
            {{ getPublicStatusText(request.status) }}
        </div>
    </div>

    <div class="column created-date">
        {{ request.created | date : "yyyy-MM-dd HH:mm:ss" }}
    </div>
</div>
