.tour {
    display: flex;
    background-color: rgb(var(--clr-background-secondary));
}

.tour-rectangles {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(var(--clr-background-secondary));
}

.tour-rectangle {
    border: 1rem solid rgb(var(--clr-outline));
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 0.5rem rgba(var(--clr-outline), 0.6);
}

.tour-info p {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(var(--clr-text));
}

.tour-buttons button {
    gap: 0.7rem;
    margin: 0.7rem;
    background-color: rgb(var(--clr-primary-500));
}

p {
    margin-left: 2.4rem;
    font-size: 1.2rem;
    color: rgb(var(--clr-text));
}
