.tour-card {
    display: flex;
    min-height: 12rem;
    width: 100%;
    padding: 0.5rem;
    padding-right: 1rem;
    border: rgba(var(--border-primary), 1) 1px solid;
    border-radius: 0.625rem;
    background-color: rgba(var(--clr-background), 1);
    transition: background-color 0.15s;
    box-shadow: 1px 2px 3px rgba(140, 140, 140, 0.2), -1px 0px 3px rgba(140, 140, 140, 0.2);
}

.selected {
    background-color: rgba(var(--clr-primary), 0.4);
}

.selectable {
    cursor: pointer;
}

.tour-card:hover .tour-image {
    transform: scale(1.2);
}

.tour-card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 14rem;
}

.tour-card-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 14rem);
}

.tour-card-top {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.tour-card-information {
    display: flex;
    width: 100%;
}

.tour-card-center {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 1rem;
}

.tour-card-right {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 30%;
}

.tour-image-container {
    height: 11rem;
    width: 14rem;
    max-height: 11rem;
    max-width: 14rem;
    border-radius: 0.625rem;
    overflow: hidden;
}

.tour-image {
    height: 11rem;
    width: 14rem;
    max-height: 11rem;
    max-width: 14rem;
    object-fit: cover;
    border-radius: 0.625rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.tour-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 70%;
}

.tour-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
}

.tour-action {
    font-size: 1.5rem;
    color: rgba(var(--clr-primary-500), 1);
    margin-left: 0.5rem;
    cursor: pointer;
}

.tour-tag {
    font-family: var(--fnt-body);
    font-size: 0.8rem;
    color: rgba(var(--clr-text), 1);
    background-color: rgba(var(--clr-background-secondary), 1);
    border-radius: 0.3125rem;
    padding: 0.125rem 0.25rem;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
}

.tour-tag:hover {
    background-color: rgba(var(--clr-background-secondary), 0.75);
}

.tour-title {
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;
    max-width: 100%;
    font-family: var(--fnt-body);
    font-size: 1.5rem;
    color: rgba(var(--clr-text), 1);
    font-weight: 500;
    line-height: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: color 0.15s;
}

.tour-rating {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.tour-rating-star {
    font-family: var(--fnt-body);
    font-size: 1rem;
    color: rgba(var(--clr-accent-500), 1);
}

.tour-rating-average {
    margin-left: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 1rem;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
}

.tour-rating-count {
    margin-left: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 1rem;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
    cursor: pointer;
}

.tour-rating-count:hover {
    color: rgba(var(--clr-primary-500), 1);
}

.tour-description {
    padding: 0;
    padding-right: 2rem;
    margin: 0;
    margin-top: 0.25rem;
    max-width: 100%;
    font-family: var(--fnt-body);
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    line-height: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: color 0.15s;
}

.tour-keypoints {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.25rem;
}

.tour-keypoints-label {
    margin-right: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    font-weight: 700;
    transition: color 0.15s;
}

.tour-keypoint {
    margin-right: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
}

.tour-keypoints > *:not(:last-child):not(.tour-keypoints-label)::after {
    content: ',';
}

.tour-distance {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.25rem;
}

.tour-distance-label {
    margin-right: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    font-weight: 700;
    transition: color 0.15s;
}

.tour-distance-value {
    margin-right: 0.25rem;
    font-family: var(--fnt-body);
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
}

.tour-price {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tour-price-value {
    padding: 0;
    margin: 0;
    font-family: var(--fnt-body);
    font-size: 1.5rem;
    color: rgba(var(--clr-accent-500), 1);
    line-height: 1.5rem;
    margin-right: 0.25rem;
}

.tour-price-tokens {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: rgba(var(--clr-accent-500), 1);
    line-height: 1.5rem;
}

.add-to-cart {
    margin-top: 0.5rem;
    background-color: rgba(var(--clr-accent-500), 1);
    width: 100%;
    margin-bottom: 0.5rem;
}

.view {
    margin-top: auto;
    width: 100%;
}