<ng-container *ngIf="person">
    <div class="container">
        <div class="form">
            <h1>Edit Profile</h1>
            <div class="row">
                <div class="field">
                    <input [(ngModel)]="person.name" required />
                    <label>Name</label>
                </div>
                <div class="field">
                    <input [(ngModel)]="person.surname" required />
                    <label>Surname</label>
                </div>
            </div>
            <div class="row">
                <div class="field">
                    <input [(ngModel)]="person.motto" required />
                    <label>Motto</label>
                </div>
                <div class="field">
                    <input [(ngModel)]="person.profilePicture" required />
                    <label>Profile Picture</label>
                </div>
            </div>
            <div class="row">
                <div class="field bio">
                    <h2>Biography</h2>
                    <textarea
                        [(ngModel)]="person.bio"
                        rows="8"
                        placeholder="Biography"
                    >
                    </textarea>
                </div>
            </div>
            <div class="btn" (click)="editProfile()">Save</div>
        </div>
    </div>
</ng-container>
