.container {
    display: flex;
    justify-content: center;
    color: rgb(var(--clr-text));
    align-items: center;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: rgba(var(--clr-outline-contrast), 1) 1px solid;
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(var(--clr-background-secondary));
    width: 55rem;
    padding: 2rem;
    height: 100%;
    margin: 1rem;
    border-radius: 0.5rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    box-shadow: 0 0 0.5rem rgba(var(--clr-outline-contrast), 0.8);
}

.btn {
    align-self: center;
}

.field {
    position: relative;
}

.field input {
    width: 22rem;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    padding: 1rem;
    border: rgba(var(--clr-outline-contrast), 1) 2px solid;
    background: transparent;
    color: rgb(var(--clr-text));
    outline: none;
}

.field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: rgb(var(--clr-text));
    font-size: 1.3rem;
    pointer-events: none;
    transition: 0.3s;
}

input:hover {
    border: 2px solid #186868;
}

input:focus ~ label,
input:valid ~ label {
    top: 0;
    left: 1rem;
    font-size: 1.2rem;
    padding: 1px;
    background-color: rgb(var(--clr-background-secondary));
}

.bio {
    width: 100%;
}

.bio h2 {
    font-family: var(--fnt-body);
    font-weight: 400;
}

.bio textarea {
    width: 100%;
    font-size: 1.3rem;
    resize: none;
}

h1 {
    text-align: center;
}
