<ng-container *ngIf="person">
<div class="main">
  <form>
  <mat-card>
    <mat-card-header>
    <mat-card-title>
      Edit Profile
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>

          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="person.name" name="name" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="person.surname" name="surname" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="person.email" name="email" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Motto</mat-label>
            <input matInput [(ngModel)]="person.moto" name="moto" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Biography</mat-label>
            <input matInput [(ngModel)]="person.bio" name="bio" required/>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Profile Picture</mat-label>
            <input matInput [(ngModel)]="person.profilePicture" name="profilePicture" required/>
          </mat-form-field>

      <button mat-raised-button (click)="editProfile()" color="primary">Save</button>

    </mat-card-content>
  </mat-card>
</form>
</div>
</ng-container>
