/*
ista prica
*/
.tour-card {
    width: 15rem;
    height: 20rem;
    background-color: rgba(var(--clr-background-secondary), 1);
    border-radius: 0.5rem;
    position: relative;
    color: rgb(var(--clr-text));
    overflow: hidden;
}

.overlay {
    position: absolute;
    background: rgba(57, 57, 57, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay_4 {
    left: 0;
    bottom: 100%;
    height: 0;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(8px) brightness(80%);
    transition: all .3s ease-in-out;
  }

  .image_wrapper:hover .overlay_4 {
    bottom: 0;
    height: 100%;
  }

  .image_wrapper {
    position: relative;
  }
  
  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card-click .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }


.tour-card-details {
    margin-top: 0.625rem;
}

.tour-name {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.tour-name:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
}

.tour-tags {
    display: flex;
    flex-wrap: wrap;
}

.tour-tag {
    background-color: rgba(var(--clr-neutral-300), 1);
    padding: 5px 0.625rem;
    border: 1px solid rgba(var(--clr-neutral-700));
    border-radius: 5px;
    display: flex;
    margin-right: 5px;
    white-space: nowrap;
    flex: 0 1 auto;
    margin-top: 0.5rem;
    color: rgb(var(--clr-neutral-900));
}

.tour-review {
    margin-right: 5px;
}

.tour-review-content {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.tour-review-icon {
    height: 1.2rem;
}

.tour-price {
    margin-top: 0.5rem;
    font-size: 1.125rem;
}

.discount-badge {
    top: 1rem;
    left: 1rem;
    background-color: rgba(var(--clr-accent-500), 1);
    color: rgb(var(--clr-neutral-900));
    padding: 5px 0.625rem;
    border-radius: 0.625rem;
    z-index: 2;
    position: absolute;
    font-weight: 600;
}

.tour-discounted-price {
    color: rgba(var(--clr-accent-700), 1);
    margin-top: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-shadow: rgba(var(--clr-accent-500)) 1px 0 0.625rem;
}

.search-button {
    border-radius: 2rem;
    height: 100%;
    max-height: 100%;
    font-size: 1.05rem;
    font-weight: 500;
    margin-top: 10px;
}

.key-points-button {
    border-radius: 2rem;
    height: 100%;
    max-height: 100%;
    font-size: 1.05rem;
    font-weight: 500;
}

.key-point-button {
    border-radius: 2rem;
    height: 100%;
    max-height: 100%;
    font-size: 1.05rem;
    font-weight: 500;
    float: left;
    margin-right: 10px;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}