<div class="flip-card" [ngClass]="{'flip-card-click': isClicked}" (mouseleave)="isClicked = false">
    <div class="flip-card-inner">
        <div class="flip-card-front tour-card image_wrapper">
            <img [src]="tourImage" (error)="onImageError($event)" />
            <div class="cont overlay overlay_4">
                <h3>{{tour.name}}</h3>
                <div class="btn" (click)="isClicked = true">Info</div>
            </div>
        </div>
        <div class="flip-card-back">
            <div class="btn" (click)="isClicked = true">Key points</div>
            <div class="btn" (click)="isClicked = true">Start tour</div>
            <div class="btn" (click)="isClicked = true">Continue tour</div>
            <div class="btn" (click)="isClicked = true">Weather</div>
        </div>
    </div>
</div>
