
<div id="tour">
    <p>My Tours: </p>
    <hr>
    <div id="tour-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Difficulty</th>
                    <th>Tags</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Distance</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let to of tour">
                    <td>{{to.name}}</td>
                    <td>{{to.description}}</td>
                    <td>{{to.difficulty}}</td>
                    <td>{{to.tags}}</td>
                    <td>{{to.price}}</td>
                    <td>{{getTourStatusText(to.status)}}</td>
                    <td>{{to.distance}} km</td>
                    <td>
                        <button *ngIf="getTourStatusText(to.status) !== 'Published'" 
                                color="accent" 
                                (click)="deleteTour(to.id || 0)" 
                                mat-icon-button>
                                <mat-icon>delete</mat-icon>
                        </button>
                        <button *ngIf="getTourStatusText(to.status) !== 'Published'" 
                                color="primary" 
                                (click)="onEditClicked(to)"  
                                mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button color="primary" 
                                mat-raised-button 
                                [routerLink]="['equipment',to.id]" 
                                >Manage equipment
                        </button>
                    </td>
                    <td>
                        <button *ngIf="getTourStatusText(to.status) === 'Published'" 
                                color="primary" 
                                mat-raised-button 
                                [routerLink]="['/tour', to.id, 'key-points']"
                                id="view-key-points-button"
                                >View key points
                        </button>
                        <button *ngIf="getTourStatusText(to.status) !== 'Published'" 
                                color="primary" 
                                mat-raised-button 
                                [routerLink]="['/tour', to.id, 'key-points']"
                                >Manage key points
                        </button>
                    </td>
                    <td>
                        <button *ngIf="getTourStatusText(to.status) !== 'Published'" 
                                color="primary" 
                                mat-raised-button 
                                (click)="onPublishClicked(to)"
                                >Publish
                        </button>
                        <button *ngIf="getTourStatusText(to.status) === 'Published'" 
                                color="primary" 
                                mat-raised-button 
                                (click)="onArchiveClicked(to)"
                                >Archive
                        </button>
                    </td>
                </tr>
                <tr><button color="primary" (click)="onAddClicked()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button></tr>
            </tbody>
        </table>
    </div>
    <div>
        <xp-tour-form *ngIf="shouldRenderTourForm" 
                      [shouldEdit]="shouldEdit" 
                      [tour]="selectedTour" 
                      (toursUpdated)="getTours()">
        </xp-tour-form>
    </div>
    </div>
</div>