<div class="reset-password-form">
    <div class="wrapper">
        <div class="heading">Reset password</div>

        <form class="reset-password-form" [formGroup]="resetPasswordForm">
            <div class="label">Email:</div>
            <input
                type="text"
                class="reset-password-input"
                placeholder="Email"
                formControlName="email"
            />
            <div class="error-message">{{ errors.email }}</div>
        </form>
        <button class="reset-password-submit" (click)="onClick()">
            Reset password
        </button>
    </div>
</div>
