<div class="key-point-card">
  <img class="key-point-image" [src]="keyPointImage" />
  <div class="key-point-overlay">
      <div class="key-point-name">{{ keyPoint.name }}</div>
      <div class="key-point-description">
          {{ keyPoint.description }}
      </div>
      <div class="key-point-statistic">
          Visit %: {{ statistic }}
      </div>
      <div *ngIf="encounterStatistic" class="key-point-statistic">
          Encounter %: {{ encounterStatistic }}
      </div>
      <div *ngIf="!encounterStatistic" class="key-point-statistic">
        Encounter %: No data
        </div>
  </div>
</div>