<!-- <div id="my-club-join-requests">
    <p>My club join requests</p>
    <hr>
    <div id="my-club-join-requests-list">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Club</th>
                    <th>Requested at</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    <td>{{request.clubName}}</td>
                    <td>{{request.requestedAt}}</td>
                    <td>{{request.status}}</td>
                    <td>
                        <button *ngIf="request.status == 'Pending'" color="primary" mat-button (click)="cancelClubJoinRequest(request)">
                            Cancel 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div> -->
<div class="container">
    <div class="card" *ngFor="let request of requests">
        <div class="details">
            <div class="row">
                Club:
                {{ request.clubName }}
            </div>
            <div class="row">
                Requested at:
                {{ request.requestedAt | date : "yyyy-MM-dd HH:mm" }}
            </div>
            <div class="row">
                Status:
                {{ request.status }}
            </div>
        </div>
        <div
            class="btn"
            *ngIf="request.status == 'Pending'"
            color="primary"
            mat-button
            (click)="cancelClubJoinRequest(request)"
        >
            Cancel
        </div>
    </div>
</div>
