<div class="modal" (click)="onClose()">
    <div class="public-key-points" (click)="$event.stopPropagation()">
        <div class="modal-head">
            <fa-icon class="modal-x" [icon]="faXmark" (click)="onClose()" />
            <div class="modal-title">Public keypoints</div>
        </div>
        <div class="cards">
            <div
                class="list-cards-button"
                id="prev-button"
                (click)="scrollToPrevCard()"
            >
                <div class="triangle-left"></div>
            </div>
            <div class="public-key-point-cards-container">
                <div
                    *ngFor="let kp of publicKeyPoints"
                    class="cards-buttons-container"
                >
                    <xp-key-point-card [keyPoint]="kp"> </xp-key-point-card>
                    <div class="buttons-container">
                        <fa-icon
                            class="modal-plus"
                            [icon]="faPlus"
                            (click)="addPublicKeyPointToTour(kp.id || 0)"
                        ></fa-icon>
                    </div>
                </div>
            </div>
            <div
                class="list-cards-button"
                id="next-button"
                (click)="scrollToNextCard()"
            >
                <div class="triangle-right"></div>
            </div>
        </div>
    </div>
</div>
