<div class="container">
    <div class="comment">
        <div class="commenter-data">
            <div class="row">
                <div
                    class="comment-avatar"
                    [style.background-image]="
                        'url(' + commenter.profilePicture + ')'
                    "
                ></div>
                <div class="commenter">@{{ commenter.username }}</div>
            </div>
        </div>
        <div class="comment-content">
            <p>{{ text }}</p>
        </div>
    </div>
</div>
