<div class="tour-details">
    <div class="tour-heading">{{tour?.name}}</div>
    <div class="tour-informations">
        <div>
            <div class="tour-information">Description: {{tour?.description}}</div>
            <div class="tour-information">Difficulty: {{tour?.difficulty}}</div>
            <div class="tour-information">Price: {{tour?.price}}</div>
        </div>

        <div class="rate-button" [routerLink]="['/review/', tour?.id]">
            <div class="rate-button-text">Rate</div>
        </div>
    </div>
</div>
