.mat-icon {
    vertical-align: middle;
}

.rating-form-container {
    display: flex;
    flex-direction: column;
    color: rgb(var(--clr-text));
    border-radius: 1rem;
    overflow: hidden;
}

.rating-form-header {
    background-color: rgb(var(--clr-background-secondary));
    text-align: center;
    padding: 1.5rem;
}

.rating-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--clr-background));
    padding: 1.5rem;
    align-items: center;
}

.rating-form-footer {
    background-color: rgb(var(--clr-background-secondary));
    text-align: center;
    padding: 1.5rem;
}

.clickable-text {
    cursor: pointer;
}

.rating-form .btn {
    width: 100%;
}

.rating-form textarea {
    background-color: rgb(var(--clr-background-secondary));
    color: rgb(var(--clr-text));
    resize: none;
}

.center-text {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.bold-text {
    font-weight: 600;
}

.star-rating {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
}

.btn {
    margin-top: 1.5rem;
    width: 100%;
}

.disabled-btn {
    background-color: rgb(var(--clr-background-secondary)) !important;
    color: gray !important;
}

.input-spacing {
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-x {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: rgb(var(--clr-primary-500));
    font-size: 2.5rem;
    cursor: pointer;
}