<div class="rating-form-container">
    <form class="rating-form" [formGroup]="problemForm">
        <div class="center-text bold-text">
            <h2>Problem report</h2>
        </div>
        <input
            class="input-spacing"
            formControlName="category"
            type="text"
            tooltipPosition="bottom"
            pTooltip="Category"
            placeholder="Category*"
        />
        <input
            class="input-spacing"
            formControlName="priority"
            type="text"
            tooltipPosition="bottom"
            pTooltip="Priority"
            placeholder="Priority*"
        />
        <textarea
            cols="35"
            rows="5"
            formControlName="description"
            placeholder="Description*"
            pTooltip="Description"
            resize="none"
        ></textarea>
        <div
            class="btn"
            *ngIf="!shouldEdit"
            [ngClass]="{ 'disabled-btn': !problemForm.valid }"
            (click)="addProblem()"
        >
            Add
        </div>
        <div
            class="btn"
            *ngIf="shouldEdit"
            [ngClass]="{ 'disabled-btn': !problemForm.valid }"
            (click)="updateProblem()"
        >
            Change
        </div>
    </form>
</div>
