<div class="problems">
    <div
        class="card card-hover"
        *ngFor="let problem of problems"
        (click)="openProblemModal(problem)"
        (mouseover)="onMouseover(problem, problemCard)"
        #problemCard
    >
        <div class="problem-data">
            <div class="user-data">
                <div
                    class="user-avatar"
                    [style.background-image]="
                        'url(' + problem.tourist.profilePicture + ')'
                    "
                ></div>
                <div>@{{ problem.tourist.username }}</div>
            </div>
            <div class="report-data">
                <div class="label">Reported at:</div>
                <div>
                    {{ problem.reportedTime | date: "dd / MM / yyyy" }}
                </div>
                <div class="label">Tour:</div>
                <div>{{ problem.tourName }}</div>
            </div>
        </div>
        <div class="problem-description">
            <div class="row">
                <div class="column">
                    <div class="placeholder">
                        <div class="label">Category:</div>
                        <div>{{ problem.category }}</div>
                    </div>
                </div>
                <div class="column">
                    <div class="placeholder">
                        <div class="label">Priority:</div>
                        <div>{{ problem.priority }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="placeholder">
                        <div class="label">Description:</div>
                        <div>{{ problem.description }}</div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="user.role == 'administrator'">
                <div class="column">
                    <div class="btn" (click)="setDeadline(problem)"></div>
                    <input type="date" [(ngModel)]="deadline" />
                </div>
            </div>
        </div>
    </div>
</div>
