.problems {
    max-width: 100%;
    width: fit-content;
    height: 100%;
    display: flex;
    padding-inline: 4rem;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    background-color: rgb(var(--clr-background-secondary));
    width: 34rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    padding-block: 1rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    color: rgb(var(--clr-text));
    transition: 0.3s;
    box-shadow: 0 0 0.5rem rgba(var(--clr-outline-contrast), 0.8);
}

.card-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-red {
    border-color: rgba(var(--clr-error-700));
}

.card-green {
    border-color: rgba(var(--clr-success-700));
}

.problem-data {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100%;
    border-right: 1px solid rgb(var(--clr-text));
    justify-content: space-between;
    text-align: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.report-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 1rem;
    padding: 0.2rem;
    background-color: rgb(var(--clr-background));
    border-radius: 5px;
}

.user-avatar {
    border: 1px solid rgb(var(--clr-text));
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}

.problem-description {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    width: 25rem;
    justify-content: space-between;
    gap: 2rem;
}

.placeholder {
    display: flex;
    flex-direction: column;
    background: rgb(var(--clr-background));
    padding: 0.6rem;
    border-radius: 5px;
    height: 100%;
}

.row {
    display: flex;
    gap: 2rem;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 100%;
}

.label {
    color: rgb(var(--clr-text));
    opacity: 0.7;
}
