.problems {
    max-width: 100%;
    width: fit-content;
    height: 100%;
    display: flex;
    padding-inline: 4rem;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1rem; */
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--clr-background-secondary));
    width: 34rem;
    height: 100%;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    color: rgb(var(--clr-text));
    transition: 0.3s;
    box-shadow: 0 0 0.5rem rgba(var(--clr-outline-contrast), 0.8);
    gap: 0.5rem;
}

.card-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-red {
    border-color: rgba(var(--clr-error-700));
}

.card-green {
    border-color: rgba(var(--clr-success-700));
}

.warning-tab {
    display: flex;
    padding-right: 1rem;
    background-color: rgb(var(--clr-background));
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.3rem;
    height: 1.8rem;
}

.warning-icon {
    display: flex;
    align-items: center;
    color: rgba(var(--clr-error-700), 0.8);
    margin-left: auto;
    padding-block: 0.5rem;
}

.deadline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--clr-error-700), 0.8);
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 9.6rem;
}

.deadline-hover:hover {
    cursor: pointer;
    opacity: 0.8;
}

.data {
    display: flex;
    padding-bottom: 1rem;
}

.problem-data {
    display: flex;
    flex-direction: column;
    width: 10rem;
    border-right: 1px solid rgb(var(--clr-text));
    justify-content: space-between;
    text-align: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.report-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 1rem;
    padding: 0.2rem;
    background-color: rgb(var(--clr-background));
    border-radius: 5px;
}

.user-avatar {
    border: 1px solid rgb(var(--clr-text));
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}

.problem-description {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    width: 25rem;
    height: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.placeholder {
    display: flex;
    flex-direction: column;
    max-height: 8.4rem;
    max-width: 25rem;
    background: rgb(var(--clr-background));
    padding: 0.6rem;
    border-radius: 5px;
    height: 100%;
}

.description {
    overflow-y: scroll;
}

.description::-webkit-scrollbar {
    width: 0.5em;
}

.description::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background-secondary));
    border-radius: 0.3rem;
}

.row {
    display: flex;
    gap: 2rem;
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    height: 100%;
}

.label {
    color: rgb(var(--clr-text));
    opacity: 0.7;
}
