.club-page {
    display: flex;
    width: 100%;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.club {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 0;
    background-color: rgba(var(--clr-background-secondary), 1);
    border: rgba(var(--border-primary), 1) 1px solid;
    border-radius: 0.3125rem;
    transition: background-color 0.15s, border 0.15s, height 0.5s;
    padding-bottom: 1rem;
}

.club-image {
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    object-fit: cover;
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
}

.club-title {
    color: rgba(var(--clr-text), 1);
    font-size: 2rem;
    font-family: var(--fnt-header);
    transition: color 0.15s;
    max-width: 100%;
    padding-inline: 1rem;
    margin-top: 1rem;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.club-text {
    color: rgba(var(--clr-text), 1);
    font-size: 1.5rem;
    font-family: var(--fnt-body);
    transition: color 0.15s;
    max-width: 100%;
    padding-inline: 1rem;
    margin-top: 1rem;
}

.separator {
    margin-top: 1rem;
    margin-inline: 1rem;
    border-bottom: rgba(var(--border-primary), 1) 1px solid;
    transition: border 0.15s;
}

.moderator {
    margin-top: 1rem;
    padding-inline: 1rem;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    margin-inline: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 30rem;
    padding-right: 0.5rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-primary-500), 1);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--clr-primary-500), 0.4);
}

/* For Firefox */
/* You can customize these styles as needed */
.members {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--clr-primary-500), 1)
        rgba(var(--clr-primary-500), 0.4);
}

/* Optional: Adjust the styles for the track and thumb in Firefox */
.members::-webkit-scrollbar-thumb {
    background-color: #3498db;
    background-color: rgba(var(--clr-primary-500), 1);
}

.members::-webkit-scrollbar-track {
    background-color: rgba(var(--clr-primary-500), 0.4);
}

.blogs {
    width: 70%;
    height: 100%;
    text-align: center;
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
}

.club-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    transition: filter 0.15s;
}

.club-button:hover {
    filter: brightness(1.2);
}

.club-button-icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
}

.club-button-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.leave {
    margin-top: 1rem;
    width: calc(100% - 2rem);
    margin-inline: 1rem;
    background-color: red;
}

.door-leave {
    margin-right: 1rem;
}

.invite {
    margin-top: 1rem;
    width: calc(100% - 2rem);
    margin-inline: 1rem;
    background-color: rgb(0, 190, 111);
}

.plus {
    margin-right: 1rem;
}

.request {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: rgba(var(--clr-background), 1);
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.buttons-list {
    display: flex;
    margin-left: auto;
}

.accept-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(0, 255, 0, 0);
    transition: background-color 0.15s;
    cursor: pointer;
}

.accept-wrapper:hover {
    background-color: rgba(0, 255, 0, 0.2);
}

.accept {
    font-size: 1.5rem;
    color: rgba(0, 255, 0, 1);
}

.decline-wrapper {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 0, 0, 0);
    transition: background-color 0.15s;
    cursor: pointer;
}

.decline-wrapper:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.decline {
    font-size: 1.5rem;
    color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.username {
    font-size: 1.5rem;
    color: rgba(var(--clr-primary-500), 1);
    margin-left: 0.5rem;
}
