<div class="blogs-container">
    <div class="title" *ngIf="clubId == -1">
        <select
            [(ngModel)]="selectedStatus"
            (change)="getPopular()"
        >
            <option value="popular" (click)="getPopular()">Popular</option>
            <option value="controversial" (click)="getControversial()">Controversial</option>
            <option value="all" (click)="getAll()">All</option>
        </select>
        <h1 class="blogs-title">Blogs</h1>
    </div>

    <xp-blog-preview
        *ngFor="let blog of blogs"
        [blog]="blog"
        [user]="user"
        [routerLink]="['/blog/' + blog.id]"
        (upvote)="upVoteBlog($event)"
        (downvote)="downVoteBlog($event)"
        [@fadeIn]
        [style.display]="
            (blog.status != 0)
                ? 'block'
                : 'none'
        "
    ></xp-blog-preview>
</div>
