.blogs-container {
    display: flex;
    flex-direction: column;
    /* outline: 2px solid red; */
    padding: 2rem;
    width: 100%;
    margin-inline: auto;
    gap: 1rem;
    align-items: center;
}
