<div class="blogs-container">
    <div class="title" *ngIf="clubId == -1">
        <select
            [(ngModel)]="selectedStatus"
            (change)="filterByStatus(selectedStatus)"
        >
            <option value="1">Published</option>
            <option value="2">Closed</option>
            <option value="3">Active</option>
            <option value="4">Famous</option>
            <option value="5">All</option>
        </select>
        <h1 class="blogs-title">Blogs</h1>
    </div>

    <xp-blog-preview
        *ngFor="let blog of blogs"
        [blog]="blog"
        [vote]="getVote(blog)"
        [user]="user"
        [routerLink]="['/blog/' + blog.id]"
        (upvote)="upVoteBlog($event)"
        (downvote)="downVoteBlog($event)"
        [@fadeIn]
        [style.display]="
            (selectedStatus == 5 && blog.status != 0) ||
            blog.status == selectedStatus
                ? 'block'
                : 'none'
        "
    ></xp-blog-preview>
</div>
