.blogs-container {
    display: flex;
    flex-direction: column;
    /* outline: 2px solid red; */
    padding: 2rem;
    width: 100%;
    margin-inline: auto;
    gap: 1rem;
    align-items: center;
    min-height: 100rem;
}

.blogs-title {
    color: rgb(var(--clr-text));
    font-weight: 800;
}

select {
    background-color: rgb(var(--clr-background));
    border: none;
    border-bottom: 1px solid rgb(var(--clr-outline));
    color: rgba(var(--clr-text));
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--fnt-header);
    width: min-content;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
