.cards-buttons-container {
    position: relative;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2rem;
}

.container {
    display: flex;
    height: 100vh;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 40rem;
    background-color: rgba(var(--clr-background-secondary));
}

.fa-accept {
    color: rgba(var(--clr-success-500), 0.7);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
}

.fa-accept:hover {
    color: rgba(var(--clr-success-500), 0.9);
}

.fa-reject {
    color: rgba(var(--clr-error-500), 0.7);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
}

.fa-reject:hover {
    color: rgba(var(--clr-error-500), 0.9);
}
.cards-list {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 1rem;
    margin-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column h2 {
    text-align: center;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-header);
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
}

.tab-list {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 4rem;
    background-color: rgba(var(--clr-background-secondary));
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid rgba(var(--clr-text));
    padding-bottom: 1px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 15rem;
    padding-inline: 1rem;
    position: relative;
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1.2rem;
    gap: 1rem;
    color: rgb(var(--clr-text), 0.7);
}

.tab:hover {
    cursor: pointer;
    background-color: rgba(var(--clr-background), 0.5);
}

.selected-tab {
    border-bottom: 3px solid rgb(var(--clr-primary-300));
    color: rgba(var(--clr-primary-300));
}

.tab-content {
    min-height: 20rem;
    margin-bottom: 1rem;
    width: 100%;
}
