<div class="wrapper">
    <div class="tab-list" #tabList>
        <div
            class="tab"
            [ngClass]="{ 'selected-tab': selectedTab === Tab.KEYPOINTS }"
            (click)="setActiveTab(Tab.KEYPOINTS, tabList)"
        >
            <fa-icon [icon]="faMapMarker" /> Public keypoints
        </div>
        <div
            class="tab"
            [ngClass]="{ 'selected-tab': selectedTab === Tab.FACILITIES }"
            (click)="setActiveTab(Tab.FACILITIES, tabList)"
        >
            <fa-icon [icon]="faBuilding" /> Public facilities
        </div>
    </div>
    <div class="tab-content">
        <div *ngIf="selectedTab === Tab.KEYPOINTS">
            <div
                *ngFor="let request of requests"
                class="cards-buttons-container"
            >
                <xp-request-key-point-card
                    [request]="request"
                ></xp-request-key-point-card>
                <div class="buttons-container">
                    <fa-icon
                        class="fa-accept"
                        [icon]="faCheck"
                        *ngIf="request.status == 0"
                        (click)="acceptPublicKeyPointRequest(request)"
                    ></fa-icon>
                    <fa-icon
                        class="fa-reject"
                        [icon]="faTimes"
                        *ngIf="request.status == 0"
                        (click)="rejectPublicKeyPointRequest(request)"
                    ></fa-icon>
                </div>
            </div>
        </div>
        <div *ngIf="selectedTab === Tab.FACILITIES">
            <div
                *ngFor="let request of facilityRequests"
                class="cards-buttons-container"
            >
                <xp-request-facility-card
                    [request]="request"
                ></xp-request-facility-card>
                <div class="buttons-container">
                    <fa-icon
                        class="fa-accept"
                        [icon]="faCheck"
                        *ngIf="request.status == 0"
                        (click)="acceptPublicFacilityRequest(request)"
                    ></fa-icon>
                    <fa-icon
                        class="fa-reject"
                        [icon]="faTimes"
                        *ngIf="request.status == 0"
                        (click)="rejectPublicFacilityRequest(request)"
                    ></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
