<div class="reset-password-form">
    <div class="wrapper">
        <div class="heading">Change your password</div>

        <form class="reset-password-form" [formGroup]="newPasswordForm">
            <div class="label">New password:</div>
            <input
                type="password"
                class="reset-password-input"
                placeholder="Password"
                formControlName="newPassword"
            />
            <div class="error-message"></div>

            <div class="label">Confirm new password:</div>
            <input
                type="password"
                class="reset-password-input"
                placeholder="Password"
                formControlName="repeatedPassword"
            />
            <div class="error-message">{{errors.newPassword}}</div>
        </form>
        <button class="reset-password-submit" (click)="onClick()">
            Change your password
        </button>
    </div>
</div>
