<ng-container *ngIf="person">
    <div class="container">
        <div class="card">
            <div class="column">
                <div class="card-header">
                    <div class="avatar">
                        <img
                            src="{{ person.user.profilePicture }}"
                            onerror="this.style.display='none'"
                        />
                    </div>
                    <div class="title">
                        {{ person.name }} {{ person.surname }}
                    </div>
                </div>
                <div class="subtitle">
                    <div class="username">
                        Username: {{ person.user.username }}
                    </div>
                    <div class="email">Email: {{ person.email }}</div>
                    <div class="motto">Motto: {{ person.motto }}</div>
                </div>
                <div class="btn" (click)="toggleEditing()">Edit</div>
            </div>
            <div class="column">
                <textarea class="bio" readonly="readonly" unselectable="on">
Biography: {{ person.bio }}
</textarea
                >
            </div>
        </div>
    </div>
</ng-container>
