.club-card {
    background-color: rgba(var(--clr-background-secondary), 1);
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 1rem;
    padding: 0.625rem;
    width: 18rem;
    margin: 1.3rem;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
    position: relative;
    color: rgb(var(--clr-text));
    transition: transform 0.2s, background-color 0.15s, box-shadow 0.15s,
        border 0.15s;
}

.club-card:hover {
    transform: scale(1.05); /* Uvećanje kartice kada se miš nalazi iznad nje */
}
.club-image {
    height: 11rem;
    width: 17rem;
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    cursor: pointer;
    object-fit: cover;
}

.club-card-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.625rem;
}

.club-name {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.15s;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    max-lines: 1;
    white-space: nowrap;
}

.club-name:hover {
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
}

.club-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    transition: filter 0.15s;
}

.club-button:hover {
    filter: brightness(1.2);
}

.club-button-icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
}

.club-button-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.club-sent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--clr-background), 1);
    cursor: pointer;
    transition: background-color 0.15s;
}

.sent-icon {
    color: rgba(var(--clr-text), 1);
    font-size: 1.3rem;
    transition: color 0.15s;
}

.sent-text {
    color: rgba(var(--clr-text), 1);
    font-size: 1.3rem;
    transition: color 0.15s;
    margin-left: 0.5rem;
}

.club-joined {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #4caf50;
    cursor: pointer;
    transition: background-color 0.15s;
}

.joined-icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
}

.joined-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.edit-icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
}

.edit-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.club-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #0090d3;
    cursor: pointer;
    transition: background-color 0.15s;
}

.delete-icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
}

.delete-text {
    color: rgba(255, 255, 255, 1);
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.club-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #d30000;
    cursor: pointer;
    transition: background-color 0.15s;
}
