<div class="tour-search">
    <div class="tour-search-header">
        <div class="tour-search-header-title">Search tours</div>
        <div class="tour-search-header-paragraph">
            Welcome to our tour search page, your gateway to unforgettable travel experiences. Whether you're an adventure seeker, a history enthusiast or simply looking to relax and unwind, our tour search feature is here to help you discover the perfect journey. Explore a wide range of destinations, from exotic getaways to local gems, and find tours tailored to your interests and preferences.
        </div>
    </div>
    <div class="tour-search-body">
        <div class="tour-search-filters">
            <div class="tour-seach-filter-section">
                <div class="tour-seach-filter-section-title">Map search</div>
                <div class="tour-seach-filter-section-body">
                    <xp-map></xp-map>
                </div>
            </div>
        </div>
        <div class="tour-search-tours"></div>
    </div>
</div>
