/*novo*/
.upload-button {
    position: absolute;
    bottom: 0;
    right: 4.2rem;
    padding: 0.3rem 0.3rem;
    cursor: pointer;
    color: rgb(var(--clr-primary-500), 0.7);
    transition:
        color 0.3s,
        background-color 0.3s;
    background-color: rgb(var(--clr-background-secondary), 1);
}
.upload-button:hover {
    color: rgb(var(--clr-primary-500), 1);
}

.review-container {
    padding: 1.2rem;
    text-align: center;
    background-color: rgb(var(--clr-background-secondary), 1);
    color: rgba(var(--clr-text), 1);
    border-radius: 1rem;
    border: rgba(var(--clr-outline-contrast), 1) 3px solid;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
}

.center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.stars {
    display: flex;

    margin-bottom: 2rem;
}

input[type="radio"] {
    display: none;
}
.image-controls {
    display: flex;
    margin-bottom: 2rem;
    position: relative;
}
.lab1 {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--clr-success-700), 0.1);
    cursor: pointer;
    margin-right: 1.2rem;
    transition: background-color 0.3s ease;
}

.lab2 {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--clr-success-700), 0.2);
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}
.lab3 {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--clr-success-700), 0.3);
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}
.lab4 {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--clr-success-700), 0.5);
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}
.lab5 {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(var(--clr-success-700), 0.7);
    cursor: pointer;
    margin-right: 1.5rempx;
    transition: background-color 0.3s ease;
}

label span {
    display: inline-block;
    line-height: 2.5rem;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
}

input[type="radio"] {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked + label {
    transform: scale(1.25);
    font-weight: 600;
}

input[type="radio"]:not(:checked):hover + label {
    background-color: rgb(var(--clr-primary-500), 1);
    transform: scale(1.25);
}

.date-calendar {
    margin-bottom: 1rem;
    width: 18rem;
}

.image-preview {
    width: 18rem;
    height: 11rem;
    background-color: rgba(var(--clr-background-secondary, 1));
    border: rgba(var(--clr-background-secondary, 0.5)) 1px dashed;
}

.image-entered {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.prev-button,
.next-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.comment-input {
    height: 4rem;
    text-wrap: wrap;
    resize: none;

    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgba(var(--clr-background-secondary, 1));
    border: rgba(var(--clr-background-secondary, 1)) 1px solid;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    vertical-align: middle;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1rem;
}

.list-cards-button:hover .triangle-left {
    border-color: transparent rgba(var(--clr-primary-500), 0.95) transparent
        transparent;
}
.list-cards-button:hover .triangle-right {
    border-color: transparent transparent transparent
        rgba(var(--clr-primary-500), 0.95);
}

.list-cards-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1.5rem;
}

.triangle-left,
.triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-left {
    border-width: 1rem 1.2rem 1rem 0;
    border-color: transparent rgba(var(--clr-primary-500), 1) transparent
        transparent;
}

.triangle-right {
    border-width: 1rem 0 1rem 1.2rem;
    border-color: transparent transparent transparent
        rgba(var(--clr-primary-500), 1);
}

.description {
    text-align: center;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-size: 0.9rem;
    margin-top: 1rem;
    border-top: rgba(var(--clr-text, 1)) 1px solid;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    background-color: rgba(var(--clr-background, 1));
    border-radius: 1rem;
    width: 32rem;
}

.register-head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-x {
    position: absolute;
    left: 0;
    justify-self: left;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
}

.register-x:hover {
    color: rgba(var(--clr-primary-500), 0.9);
}

.delete-x {
    position: absolute;
    top: 0;
    right: 4.8rem;
    justify-self: left;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.15s;
}

.delete-x:hover {
    color: rgba(var(--clr-primary-500), 0.9);
}

.register-title {
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-header);
    font-weight: 600;
    font-size: 2rem;
}
.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    width: 100%;
}

.register-label {
    margin-right: auto;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 500;
    font-size: 1.25rem;
}

.register-input {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    background-color: rgba(var(--clr-background-secondary, 1));
    border: rgba(var(--clr-background-secondary, 1)) 1px solid;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    vertical-align: middle;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background-color: rgba(var(--clr-primary-500), 1);
    border: rgba(var(--clr-primary-500, 1)) 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.submit:hover {
    background-color: rgba(var(--clr-primary-500), 0.9);
}

.submit-text {
    color: rgba(255, 255, 255, 1);
    font-family: var(--fnt-body);
    font-weight: 500;
    font-size: 1.25rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
    overflow: auto;
    box-sizing: border-box; /* Dodato */
    padding: 1rem;
}

.modal::-webkit-scrollbar {
    width: 0.5em;
}

.modal::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background-secondary));
    border-radius: 0.3rem;
}
