<div class="dialog">
    <div>
        <h2>Users you might know</h2>
        <table class="scroll">
            <tbody>
                <tr *ngFor="let u of usersYouMightKnow">
                    <td>{{ u.username }}</td>
                    <td>
                        <button
                            *ngIf="!u.followingStatus"
                            (click)="follow(u.id, usersYouMightKnow)"
                            color="primary"
                            mat-raised-button
                        >
                            Follow
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon" />
        <input
            [(ngModel)]="searchUsername"
            type="text"
            class="search-input"
            placeholder="Search users to follow"
        />
        <div (click)="search()" class="btn search-button">Search</div>
    </div>
    <div>
        <table>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{ u.username }}</td>
                    <td>
                        <button
                            *ngIf="!u.followingStatus"
                            (click)="follow(u.id, users)"
                            color="primary"
                            mat-raised-button
                        >
                            Follow
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
