/*novo*/

.review-list {
    display: flex;
    flex-direction: column;
    width: 50rem;
}

.review {
    margin-bottom: 20px;
}

.border {
    border-top: rgba(var(--clr-outline-contrast), 0.5) 0.5px solid;
    border-bottom: rgba(var(--clr-outline-contrast), 0.5) 0.5px solid;
    padding: 10px;
}

.tourist-image img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.tourist-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.user-details {
    margin-left: 10px;
    color: rgba(var(--clr-text), 1);
}

.username {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

.stars {
    margin-bottom: 5px;
    font-size: 1rem;
}

.date {
    margin-left: auto;
}

.review-comment {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
    margin-top: 1.2rem;
    color: rgba(var(--clr-text), 1);
    transition: max-height 0.5s ease;
}
.review-comment.expanded {
    max-height: none;
}
.show-more-button {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    padding: 8px 0;
    align-self: flex-start;

    background-color: transparent;
    border: none;
}

.show-more-button:hover {
    text-decoration: underline;
}

.collapsed {
    max-height: none;
}

.fa-star {
    color: #ffd700;
    font-size: 1rem;
}
.fa-icon-edit {
    font-size: 2rem;
    color: rgba(var(--clr-primary-500), 0.8);
    transition: color 0.15s;
    padding-right: 1rem;
}
.fa-icon-delete {
    font-size: 2rem;
    color: rgba(var(--clr-error-500), 0.8);
    transition: color 0.15s;
    padding-right: 1rem;
}

.fa-icon-edit:hover {
    cursor: pointer;
    color: rgba(var(--clr-primary-500), 1);
}
.fa-icon-delete:hover {
    cursor: pointer;
    color: rgba(var(--clr-error-500), 1);
}

.middot {
    margin-left: 10px;
    color: rgba(var(--clr-text), 1);
}
.comment-date {
    margin-left: 10px;
    font-weight: normal;
    color: rgba(var(--clr-text), 1);
    width: auto;
}

.trip-date {
    font-weight: normal;
    color: rgba(var(--clr-text), 1);
    padding-bottom: 10px;
    padding-top: 10px;
}
.delete-edit-buttons {
    /*padding-left: 23rem;*/
    margin-right: 0;
    padding-right: 2rem;
}

.image-gallery {
    display: flex;
    overflow-x: auto;
}

.gallery-design {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.gallery-design button {
    border: none;
    background: none;
    padding: 0;
}

.gallery-design img {
    width: 7rem;
    height: 4rem;
    border-radius: 10px;
    cursor: pointer;
    min-width: 7rem;
}
.last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
