<mat-toolbar color="primary">
    <div>
        <p>Explorer</p>
        <div id="buttons">
            <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
            <button *ngIf="user && user.username !== ''" color="accent" mat-raised-button (click)="onLogout()">Logout</button>
            <button color="primary" mat-raised-button [routerLink]="['home']">Home</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['equipment']">Manage equipment</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['clubs']">Clubs</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['ownerclubs']">My clubs</button>
            <button *ngIf="user && (user.role === 'tourist' || user.role === 'author')"color="primary" mat-raised-button [routerLink]="['profile']">Edit profile</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['ratings']">View ratings</button>
            <button *ngIf="user && (user.role === 'tourist' || user.role === 'author')"color="primary" mat-raised-button [routerLink]="['ratingForm']">Rate the app</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['review']">All tour reviews</button>
            <button *ngIf="user && user.role === 'tourist'"color="primary" mat-raised-button [routerLink]="['problem']">Manage problem</button>
            <button *ngIf="user && user.role === 'administrator'"color="primary" mat-raised-button [routerLink]="['problems']">List of problems</button>
            <button *ngIf="user && user.role === 'author'"color="primary" mat-raised-button [routerLink]="['tours']">My Tours</button>
           <button *ngIf="user && user.role === 'administrator'" color="primary" mat-raised-button [routerLink]="['usersOverview']">Manage users</button>
<div class="navbar" [ngClass]="{ 'navbar-not-home': isHome === false }">
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet"
    />
    <div class="navbar-logo" [routerLink]="['']">
        <img class="navbar-logo-icon" src="/assets/icons/logo.svg" />
        <div class="navbar-logo-text">Explorer</div>
    </div>
    <div class="navbar-right">
        <div class="navbar-menu">
            <!-- HELP MENU -->
            <div class="navbar-menu-item">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faQuestionCircle"
                    />
                    <div class="navbar-menu-item-content-text">Help</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faQuestionCircle"
                        />
                        <div class="navbar-submenu-item-text">FAQ</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPhone"
                        />
                        <div class="navbar-submenu-item-text">Contact us</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- SETTINGS MENU -->
            <div class="navbar-menu-item">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faGear"
                    />
                    <div class="navbar-menu-item-content-text">Settings</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faEuroSign"
                        />
                        <div class="navbar-submenu-item-text">Currency</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faGlobe"
                        />
                        <div class="navbar-submenu-item-text">Language</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faSun"
                        />
                        <div class="navbar-submenu-item-text">Appearance:</div>
                        <div class="navbar-theme" (click)="toggleTheme()">
                            <div
                                class="navbar-theme-switch"
                                [class.navbar-theme-switch-left]="
                                    getTheme() === 'light'
                                "
                                [class.navbar-theme-switch-right]="
                                    getTheme() === 'dark'
                                "
                            ></div>
                            <fa-icon class="navbar-theme-sun" [icon]="faSun" />
                            <fa-icon
                                class="navbar-theme-moon"
                                [icon]="faMoon"
                            />
                        </div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- USER MENU -->
            <div class="navbar-menu-item" *ngIf="user && user.username !== ''">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faUser"
                    />
                    <div class="navbar-menu-item-content-text">
                        {{ user.username }}
                    </div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">Account</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                        (click)="onLogout()"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faRightFromBracket"
                        />
                        <div class="navbar-submenu-item-text">Logout</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>
        </div>
        <div class="navbar-button-panel" *ngIf="user && user.username === ''">
            <div class="navbar-log-in-button" (click)="onLogin()">
                <div class="navbar-log-in-button-text">Login</div>
            </div>
            <div class="navbar-register-button" (click)="onRegister()">
                <div class="navbar-register-button-text">Register</div>
            </div>
        </div>
    </div>
</div>
