* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    width: 100%;
    z-index: 999;
    /* background-color: rgba(var(--clr-neutral-900), 0); */
    background-image: linear-gradient(
        rgba(var(--clr-neutral-900), 1),
        rgba(0, 0, 0, 0)
    );
    transition: background-color 0.15s;
}

.navbar-not-home {
    background-color: rgba(var(--clr-background), 1);
    border-bottom: rgba(var(--border-primary), 1) 1px solid;
    background-image: none;
    color: rgb(var(--clr-text));
    position: relative;
    z-index: 999;
}

.navbar-not-home .navbar-menu-item-content-text {
    color: rgb(var(--clr-text));
}

.navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-logo-icon {
    height: 2.5rem;
}

.navbar-logo-text {
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    margin-left: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(var(--clr-primary-500), 1);
    user-select: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
}

.navbar-menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    padding-inline: 2rem;
}

:host ::ng-deep .tag {
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
    width: 0.9rem;
    height: 0.9rem;
    padding: 0rem !important;
    margin-top: 0.1rem;
}

.navbar-menu-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-menu-item-content-icon {
    font-size: 1.1rem;
    color: rgba(var(--clr-text), 1);
    vertical-align: middle;
    transition: color 0.15s;
    margin-top: 3px;
}

.navbar-menu-item-content-text {
    margin-left: 0.2rem;
    font-family: var(--fnt-body);
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    user-select: none;
    transition: color 0.15s;
    color: rgba(var(--clr-neutral-300), 1);
}

.navbar-menu-item-content-arrow {
    margin-left: 0.2rem;
    font-size: 0.75rem;
    color: rgba(var(--clr-text), 1);
    vertical-align: middle;
    transition: color 0.15s;
    margin-top: 3px;
}

.navbar-submenu {
    position: absolute;
    right: 0;
    top: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--clr-background), 1);
    border-radius: 0.625rem;
    box-shadow: 3px 3px 7px 0 rgba(221, 221, 238, 0.5),
        -3px -3px 7px 0 rgba(221, 221, 238, 0.5);
    min-width: 12.5rem;
    visibility: collapse;
    opacity: 0;
    transition: opacity 0.15s, background-color 0.15s;
}

.navbar-submenu:first-child {
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
}

.navbar-submenu:last-child {
    border: none;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.navbar-submenu > :not(:last-child) {
    border-bottom: rgba(var(--clr-background-secondary), 1) 1px solid;
}

.navbar-menu-item:hover .navbar-submenu {
    visibility: visible;
    opacity: 1;
}

.navbar-submenu-item {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3.125rem;
    min-width: 100%;
    transition: background-color 0.15s;
}

.navbar-submenu-item-icon {
    font-size: 1.1rem;
    color: rgba(var(--clr-text), 1);
    vertical-align: middle;
    transition: color 0.15s;
    margin-top: 3px;
}

.navbar-submenu-item-text {
    font-family: var(--fnt-body);
    font-size: 1rem;
    font-weight: 600;
    color: rgba(var(--clr-text), 1);
    padding-left: 0.5rem;
    padding-right: 1.25rem;
    white-space: nowrap;
    user-select: none;
}

.navbar-menu-item-selected-indicator {
    height: 0.125rem;
    width: 0;
    background-color: rgba(var(--clr-text), 1);
    transition: width 0.15s;
}

.navbar-menu-item:hover .navbar-menu-item-selected-indicator {
    width: 100%;
}

.navbar-button-panel {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-log-in-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 6.25rem;
    background-color: rgba(var(--clr-neutral-300), 1);
    border: rgba(var(--clr-primary-500), 1) 1px solid;
    border-radius: 1.25rem;
    margin-right: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.navbar-register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 6.25rem;
    background-color: rgba(var(--clr-primary-500), 1);
    border: rgba(var(--clr-primary-500), 1) 1px solid;
    border-radius: 1.25rem;
    margin-right: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.navbar-register-button:hover {
    background-color: rgba(var(--clr-primary-500), 0.95);
}

.navbar-register-button:active {
    background-color: rgba(var(--clr-primary-500), 0.9);
}

.navbar-log-in-button-text {
    font-family: var(--fnt-body);
    font-size: 0.9375rem;
    font-weight: 700;
    color: rgba(var(--clr-primary-500), 1);
    user-select: none;
}

.navbar-register-button-text {
    font-family: var(--fnt-body);
    font-size: 0.9375rem;
    font-weight: 700;
    color: white;
    user-select: none;
}

.navbar-theme {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(var(--clr-primary-300), 0.5);
    border: rgba(var(--clr-primary-300), 1) 1px solid;
    height: 1.875rem;
    width: 5rem;
    border-radius: 0.9375rem;
    transition: background-color 0.15s;
}

.navbar-theme-switch {
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    background-color: rgba(var(--clr-primary-500), 1);
    border-radius: 0.9375rem;
    border: none;
    top: auto;
    bottom: auto;
    transition: left 0.3s ease, right 0.3s ease;
}

.navbar-theme-switch-left {
    right: 100%;
    left: 0;
}

.navbar-theme-switch-right {
    left: calc(100% - 1.8rem);
    right: 0;
}

.navbar-theme-sun {
    position: absolute;
    top: 1px;
    bottom: auto;
    left: 0.275rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
}

.navbar-theme-moon {
    position: absolute;
    top: 1px;
    bottom: auto;
    right: 0.275rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
}

.color-white {
    color: rgba(255, 255, 255, 1);
}

.background-color-white {
    background-color: rgba(255, 255, 255, 1);
}
