<div class="navbar" [ngClass]="{ 'navbar-not-home': isHome === false }">
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet"
    />
    <div class="navbar-logo" [routerLink]="['']">
        <img class="navbar-logo-icon" src="/assets/icons/logo.svg" />
        <div class="navbar-logo-text">Explorer</div>
    </div>
    <div class="navbar-right">
        <div class="navbar-menu">
            <!-- HELP MENU -->
            <div class="navbar-menu-item">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faQuestionCircle"
                    />
                    <div class="navbar-menu-item-content-text">Help</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div class="navbar-submenu-item">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faQuestionCircle"
                        />
                        <div class="navbar-submenu-item-text">FAQ</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['translate']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faLanguage"
                        />
                        <div class="navbar-submenu-item-text">Translate</div>
                    </div>
                    <div class="navbar-submenu-item">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPhone"
                        />
                        <div class="navbar-submenu-item-text">Contact us</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- CLUB MENU -->
            <div
                class="navbar-menu-item"
                *ngIf="user && user.role === 'tourist'"
            >
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faUsers"
                    />
                    <div class="navbar-menu-item-content-text">Clubs</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                        [routerLink]="['clubs']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faSearch"
                        />
                        <div class="navbar-submenu-item-text">Explore</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                        [routerLink]="['my-clubs']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">My clubs</div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                        [routerLink]="['my-club-join-requests']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faEnvelope"
                        />
                        <div class="navbar-submenu-item-text">
                            My join requests
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-bottom no-border"
                        [routerLink]="['my-club-invitations']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faEnvelope"
                        />
                        <div class="navbar-submenu-item-text">
                            My invitations
                        </div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- Encounters MENU -->
            <div
                class="navbar-menu-item"
                *ngIf="
                    user &&
                    user.username !== '' &&
                    user.role !== 'administrator'
                "
            >
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faFlag"
                    />
                    <div class="navbar-menu-item-content-text">Encounters</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        *ngIf="
                            user.role === 'author' ||
                            (user.touristProgress &&
                                user.touristProgress.level >= 10)
                        "
                        class="navbar-submenu-item"
                        [routerLink]="['encounter-form']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPlus"
                        />
                        <div class="navbar-submenu-item-text">
                            Create encounter
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['active-encounters']"
                        *ngIf="user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faCircleQuestion"
                        />
                        <div class="navbar-submenu-item-text">
                            Active Encounters
                        </div>
                    </div>
                </div>

                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- BLOG MENU -->
            <div class="navbar-menu-item" *ngIf="user && user.username !== ''">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faNewspaper"
                    />
                    <div class="navbar-menu-item-content-text">Blog</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div class="navbar-submenu-item" [routerLink]="['blogs']">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faSearch"
                        />
                        <div class="navbar-submenu-item-text">Explore</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['my-blogs']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faFolderClosed"
                        />
                        <div class="navbar-submenu-item-text">My blogs</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['blog-form/' + 0]"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPlus"
                        />
                        <div class="navbar-submenu-item-text">Create blog</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- TOURS MENU -->
            <div
                class="navbar-menu-item"
                *ngIf="
                    user && (user.role === 'author' || user.role === 'tourist')
                "
            >
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faMountainCity"
                    />
                    <div class="navbar-menu-item-content-text">Tours</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item navbar-submenu-item-border-radius-top"
                        [routerLink]="['tour-search']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faSearch"
                        />
                        <div class="navbar-submenu-item-text">Explore</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'tourist'"
                        [routerLink]="['explore-bundles']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faBoxOpen"
                        />
                        <div class="navbar-submenu-item-text">Bundles</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'author'"
                        [routerLink]="['tours']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">My Tours</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'author'"
                        [routerLink]="['bundles']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faBoxOpen"
                        />
                        <div class="navbar-submenu-item-text">
                            My Tour Bundles
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'author'"
                        [routerLink]="['tour-sales']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPercent"
                        />
                        <div class="navbar-submenu-item-text">
                            My Tour Sales
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'tourist'"
                        [routerLink]="['purchasedtours']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">
                            Purchased Tours
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['facilities']"
                        *ngIf="user && user.role === 'author'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faHotel"
                        />
                        <div class="navbar-submenu-item-text">
                            Manage facilities
                        </div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['published-tours']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faShoppingCart"
                        />
                        <div class="navbar-submenu-item-text">
                            Start shopping
                        </div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['tourist-position-simulator']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPersonHiking"
                        />
                        <div class="navbar-submenu-item-text">
                            Change position
                        </div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['tourists-tour']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faMapLocationDot"
                        />
                        <div class="navbar-submenu-item-text">
                            Plan your tour
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['problem']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faTriangleExclamation"
                        />
                        <div class="navbar-submenu-item-text">
                            Report a problem
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['problems']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faTriangleExclamation"
                        />
                        <div class="navbar-submenu-item-text">
                            Problem reports
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['coupons']"
                        *ngIf="user && user.role === 'author'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faMoneyBills"
                        />
                        <div class="navbar-submenu-item-text">Coupons</div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['tour-statistics']"
                        *ngIf="user && user.role === 'author'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faBarChart"
                        />
                        <div class="navbar-submenu-item-text">
                            Statistics
                        </div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- ADMINISTRATION MENU -->
            <div
                class="navbar-menu-item"
                *ngIf="user && user.role === 'administrator'"
            >
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faShield"
                    />
                    <div class="navbar-menu-item-content-text">
                        Administration
                    </div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['user-management']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">Manage users</div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['problems']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faTriangleExclamation"
                        />
                        <div class="navbar-submenu-item-text">
                            Problem reports
                        </div>
                    </div>

                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['equipment']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faTriangleExclamation"
                        />
                        <div class="navbar-submenu-item-text">Equipment</div>
                    </div>

                    <div class="navbar-submenu-item" [routerLink]="['ratings']">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faStar"
                        />
                        <div class="navbar-submenu-item-text">Ratings</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- SETTINGS MENU -->
            <div class="navbar-menu-item">
                <div class="navbar-menu-item-content">
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faGear"
                    />
                    <div class="navbar-menu-item-content-text">Settings</div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div class="navbar-submenu-item">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faEuroSign"
                        />
                        <div class="navbar-submenu-item-text">Currency</div>
                    </div>
                    <div class="navbar-submenu-item">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faGlobe"
                        />
                        <div class="navbar-submenu-item-text">Language</div>
                    </div>
                    <div class="navbar-submenu-item">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faSun"
                        />
                        <div class="navbar-submenu-item-text">Appearance:</div>
                        <div class="navbar-theme" (click)="toggleTheme()">
                            <div
                                class="navbar-theme-switch"
                                [class.navbar-theme-switch-left]="
                                    getTheme() === 'light'
                                "
                                [class.navbar-theme-switch-right]="
                                    getTheme() === 'dark'
                                "
                            ></div>
                            <fa-icon class="navbar-theme-sun" [icon]="faSun" />
                            <fa-icon
                                class="navbar-theme-moon"
                                [icon]="faMoon"
                            />
                        </div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>

            <!-- USER MENU -->
            <div class="navbar-menu-item" *ngIf="user && user.username !== ''">
                <div class="navbar-menu-item-content">
                    <xp-tag
                        tagColor="orange"
                        tagText="{{ notificationNumber }}"
                        *ngIf="notificationNumber !== 0"
                    />
                    <fa-icon
                        class="navbar-menu-item-content-icon"
                        [class.color-white]="isHome"
                        [icon]="faUser"
                    />
                    <div class="navbar-menu-item-content-text">
                        {{ user.username }}
                    </div>
                    <fa-icon
                        class="navbar-menu-item-content-arrow"
                        [class.color-white]="isHome"
                        [icon]="faChevronDown"
                    />
                </div>
                <div class="navbar-submenu">
                    <div class="navbar-submenu-item" [routerLink]="['profile']">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">Profile</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['tour-preference']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faHeart"
                        />
                        <div class="navbar-submenu-item-text">
                            Tour preference
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['tourist-equipment-selection']"
                        *ngIf="user && user.role === 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faPersonHiking"
                        />
                        <div class="navbar-submenu-item-text">Equipment</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['rating-form']"
                        *ngIf="
                            user &&
                            (user.role === 'tourist' || user.role === 'author')
                        "
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faStar"
                        />
                        <div class="navbar-submenu-item-text">Rate the app</div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['notification-tabs']"
                        *ngIf="user && user.role !== 'administrator'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faBell"
                        />
                        <div class="navbar-submenu-item-text">
                            My notifications
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        [routerLink]="['payment-history']"
                        *ngIf="user && user.role == 'tourist'"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faCoins"
                        />
                        <div class="navbar-submenu-item-text">
                            Payments history
                        </div>
                    </div>
                    <div
                        class="navbar-submenu-item"
                        *ngIf="user && user.role === 'administrator'"
                        [routerLink]="['public-requests']"
                    >
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faUser"
                        />
                        <div class="navbar-submenu-item-text">My requests</div>
                    </div>
                    <div class="navbar-submenu-item" (click)="onLogout()">
                        <fa-icon
                            class="navbar-submenu-item-icon"
                            [icon]="faRightFromBracket"
                        />
                        <div class="navbar-submenu-item-text">Logout</div>
                    </div>
                </div>
                <div
                    class="navbar-menu-item-selected-indicator"
                    [class.background-color-white]="isHome"
                ></div>
            </div>
            <div
                class="navbar-button-panel"
                *ngIf="user && user.username === ''"
            >
                <div class="navbar-log-in-button" (click)="onLogin()">
                    <div class="navbar-log-in-button-text">Login</div>
                </div>
                <div class="navbar-register-button" (click)="onRegister()">
                    <div class="navbar-register-button-text">Register</div>
                </div>
            </div>
        </div>
    </div>
</div>
