<div class="tour-info">
    <div class="information">
        <div class="tour-name">
            <div class="name">
                {{ tour?.name }}
            </div>
        </div>
        <div class="tour-price">
            {{ tour?.price }}
            <fa-icon class="tour-price-tokens" [icon]="faCoins" />
        </div>
        <div class="tour-tags">
            <xp-tag *ngFor="let tag of tour?.tags" tagText="{{ tag }}" />
        </div>
        <div class="tour-description">{{ tour?.description }}</div>
        <div
            class="btn btn-done"
            (click)="openPublishModal()"
            *ngIf="tour?.status == 2 || tour?.status == 0"
        >
            Done
        </div>
    </div>
    <div class="map">
        <xp-map
            mapName="keypointMap"
            [showLegend]="false"
            [isKeyPointMap]="true"
            [keyPoints]="keyPoints"
            (tourDistanceChangedEvent)="distanceChanged($event)"
        ></xp-map>
    </div>
</div>
<div class="keypoints">
    <div
        class="list-cards-button"
        id="prev-button"
        (click)="scrollToPrevCard()"
    >
        <div class="triangle-left"></div>
    </div>
    <div class="key-point-cards-container">
        <xp-key-point-card
            [isAddNew]="true"
            *ngIf="tour?.status == 2 || tour?.status == 0"
            (click)="openNewKeyPointDialog()"
        />
        <xp-key-point-card
            [isAddNewPublic]="true"
            *ngIf="tour?.status == 2 || tour?.status == 0"
            (click)="openPublicKeyPointsDialog()"
        />
        <div *ngFor="let kp of keyPoints" class="cards-buttons-container">
            <xp-key-point-card
                [keyPoint]="kp"
                (deleteClicked)="deleteKeyPoint($event)"
                (click)="openEditKeyPointDialog(kp)"
            >
            </xp-key-point-card>
        </div>
    </div>
    <div
        class="list-cards-button"
        id="next-button"
        (click)="scrollToNextCard()"
    >
        <div class="triangle-right"></div>
    </div>
</div>

<!-- <button class="add-enable" (click)="openDialog()" mat-button>
    <div class="enable-text">Add public key-point</div>
</button>

<div class="container">
    <div class="row-1">
        <div class="column">
            <div class="map-container">
                <xp-map
                    [height]="'22rem'"
                    [isKeyPointMap]="true"
                    [refreshEvents]="refreshEventsSubject"
                    (newLongLatEvent)="mapLongLat = $event"
                    [selectedKeyPoint]="selectedKeyPoint"
                    [canEdit]="shouldRenderKeyPointForm"
                ></xp-map>
            </div>
        </div>
        <div class="column" *ngIf="areButtonsEnabled">
            <div class="key-point-form">
                <xp-key-point-form
                    [shouldEdit]="shouldEdit"
                    [longLat]="mapLongLat"
                    [keyPoint]="selectedKeyPoint"
                    (keyPointUpdated)="getKeyPoints()"
                ></xp-key-point-form>
            </div>
        </div>
        <div class="column-separated">
            <h2 *ngIf="!areButtonsEnabled">Chosen types of transport</h2>
            <h2 *ngIf="areButtonsEnabled">Choose types of transport</h2>
            <div class="chechboxes">
                <br />
                <div>
                    <table *ngIf="!areButtonsEnabled">
                        <tr *ngIf="checkedWalkingDuration">
                            <td>
                                <mat-label>Walking</mat-label>
                            </td>
                            <td>
                            </td>
                            <td>{{ walkingDuration }} minutes</td>
                        </tr>
                        <tr *ngIf="checkedBicycleRideDuration">
                            <td>
                                <mat-label>Bicycle ride</mat-label>
                            </td>
                            <td>
                            </td>
                            <td>{{ bicycleRideDuration }} minutes</td>
                        </tr>
                        <tr *ngIf="checkedCarRideDuration">
                            <td>
                                <mat-label>Car ride</mat-label>
                            </td>
                            <td>
                            </td>
                            <td>{{ carRideDuration }} minutes</td>
                        </tr>
                    </table>
                    <br />
                    <table *ngIf="areButtonsEnabled" [formGroup]="checkBoxForm">
                        <tr>
                            <td>
                                <mat-label>Walking</mat-label>
                            </td>
                            <td>
                                <input
                                    formControlName="onFootChecked"
                                    type="checkbox"
                                />
                            </td>
                            <td>{{ walkingDuration }} minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label>Bicycle ride</mat-label>
                            </td>
                            <td>
                                <input
                                    formControlName="bicycleRideChecked"
                                    type="checkbox"
                                />
                            </td>
                            <td>{{ bicycleRideDuration }} minutes</td>
                        </tr>
                        <tr>
                            <td>
                                <mat-label>Car ride</mat-label>
                            </td>
                            <td>
                                <input
                                    formControlName="carRideChecked"
                                    type="checkbox"
                                />
                            </td>
                            <td>{{ carRideDuration }} minutes</td>
                        </tr>
                    </table>
                </div>
                <button class="done-submit" (click)="onBackClicked()">
                    <div class="done-submit-text">Done</div>
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="cards">
        <div class="row-2">
            <div
                class="list-cards-button"
                id="prev-button"
                (click)="scrollToPrevCard()"
            >
                <div class="triangle-left"></div>
            </div>
            <div class="key-point-cards-container">
                <div
                    *ngFor="let kp of keyPoints"
                    class="cards-buttons-container"
                >
                    <xp-key-point-card [keyPoint]="kp"> </xp-key-point-card>
                    <div class="buttons-container">
                        <button
                            *ngIf="areButtonsEnabled"
                            (click)="deleteKeyPoint(kp.id || 0)"
                            mat-icon-button
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button
                            *ngIf="areButtonsEnabled"
                            color="primary"
                            (click)="onEditClicked(kp)"
                            mat-icon-button
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="list-cards-button"
                id="next-button"
                (click)="scrollToNextCard()"
            >
                <div class="triangle-right"></div>
            </div>
        </div>
    </div>
</div> -->
