<div id="key-points">
    <p>Key points</p>
    <hr />
    <div class="container">
        <div class="column larger-column">
            <div class="map-container">
                <xp-map
                    [isKeyPointMap]="true"
                    [refreshEvents]="refreshEventsSubject"
                    (newLongLatEvent)="mapLongLat = $event"
                    [selectedKeyPoint]="selectedKeyPoint"
                    [canEdit]="shouldRenderKeyPointForm"
                ></xp-map>
            </div>
            <div>
                <div class="key-point-form">
                    <xp-key-point-form
                        [shouldEdit]="shouldEdit"
                        [longLat]="mapLongLat"
                        [keyPoint]="selectedKeyPoint"
                        (keyPointUpdated)="getKeyPoints()"
                    ></xp-key-point-form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="key-point-cards-container">
                <button
                    color="primary"
                    (click)="onAddClicked()"
                    mat-icon-button
                >
                    <mat-icon>add</mat-icon>
                </button>
                <xp-key-point-card *ngFor="let kp of keyPoints" [keyPoint]="kp">
                    <button
                        (click)="deleteKeyPoint(kp.id || 0)"
                        mat-icon-button
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button
                        color="primary"
                        (click)="onEditClicked(kp)"
                        mat-icon-button
                    >
                        <mat-icon>edit</mat-icon>
                    </button>
                </xp-key-point-card>
            </div>
        </div>
    </div>
</div>
