<div id="tourPreference">
    <p>Tour preferences</p>
    <hr>
    <div id="tourPreference-details">
        <div class="card-container">
            <div class="card" *ngFor="let preference of tourPreference">
                <div class="card-content">
                    <div><strong>UserId:</strong> {{preference.userId}}</div>
                    <div><strong>Difficulty Level:</strong> {{preference.difficultyLevel}}</div>
                    <div><strong>Walking rating:</strong> {{preference.walkingRating}}</div>
                    <div><strong>Cycling rating:</strong> {{preference.cyclingRating}}</div>
                    <div><strong>Car rating:</strong> {{preference.carRating}}</div>
                    <div><strong>Boat rating:</strong> {{preference.boatRating}}</div>
                    <div><strong>Selected tags:</strong> {{preference.selectedTags.join(', ')}}</div>
                </div>
            </div>
        </div>
    </div>
    <xp-tour-preference-form></xp-tour-preference-form>
</div>
