<div class="blogs-container" [@fadeIn]>
    <h1 class="blogs-title">MY BLOGS</h1>
    <ng-container *ngIf="blogs && user">
        <xp-blog-preview
            *ngFor="let blog of blogs"
            [blog]="blog"
            [user]="user"
            [routerLink]="
                blog.status == 0
                    ? '/my-blogs/blog-form/' + blog.id
                    : '/blog/ ' + blog.id
            "
            (upvote)="upVoteBlog($event)"
            (downvote)="downVoteBlog($event)"
            (publish)="publishBlogAndRefresh($event)"
            (delete)="deleteBlogAndRefresh($event)"
        ></xp-blog-preview>
    </ng-container>
</div>
