<h1>Tour executing</h1>
<hr>
<div style="float: left; margin: 40px;">
    <h2>
        {{tour.name}}
    </h2>
    <div class="image-container">
        <div class="list-cards-button" id="next-button">
            <div class="triangle-left"></div>
        </div>
        <img src="asdf" width="250px" height="250px" />
        <div class="list-cards-button" id="next-button">
            <div class="triangle-right"></div>
        </div>
    </div>
    <br>
    <h4>{{tour.description}}</h4>
    <div class='my-legend'>
        <div class='legend-title'>Legend</div>
        <div class='legend-scale'>
            <ul class='legend-labels'>
                <li><span>
                        <img
                            src="https://cdn3.iconfinder.com/data/icons/flat-pro-basic-set-1-1/32/location-blue-512.png" />
                    </span>
                    Key point location
                </li>
                <br>
                <li><span>
                        <img src="https://images.emojiterra.com/google/android-pie/512px/1f535.png" />
                    </span>
                    Your current location
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <xp-map [isTourExecutionMap]="true" [executingTourId]="tourId" [startPosition]="touristPosition" [nextKeyPointId]="nextKeyPointId"></xp-map>
</div>
<xp-tourist-position-simulator *ngIf="false"></xp-tourist-position-simulator>