<h1>Tour executing</h1>
<div style=" margin: 40px;">
    <h2>
        {{tour.name}}
    </h2>
    <br>
    <h4>{{tour.description}}</h4>
    
</div>
<div class='my-legend' style="float: left;">
    <div class='legend-title'>Legend</div>
    <div class='legend-scale'>
        <ul class='legend-labels'>
            <li><span>
                <img src="https://images.emojiterra.com/google/android-pie/512px/1f535.png" />
            </span>
                Your current location
            </li>
            <br>
            <li><span>
                    <img src="https://cdn3.iconfinder.com/data/icons/flat-pro-basic-set-1-1/32/location-blue-512.png" />
                </span>
                Key point location
            </li>
            <br>
            <li><span>
                <img
                    src="https://www.pngrepo.com/png/289489/512/red-flag.png" />
            </span>
                Completed key point location
        </li>
        </ul>
    </div>
</div>
<div class="map-container">
    <button class="abandon-button" (click)="abandonTour()">Abandon tour</button>
    <xp-map [isTourExecutionMap]="true" [executingTourId]="session.tourId" [startPosition]="touristPosition" [nextKeyPointId]="session.nextKeyPointId" 
    (keyPointClickEvent)="getKeyPoint($event)"></xp-map>
</div>
<xp-tourist-position-simulator *ngIf="false"></xp-tourist-position-simulator>