.tour-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.tour-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: rgba(var(--clr-text), 1);
}

.tour-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    filter: blur(2px);
    transition: filter 0.5s ease;

    &:hover {
        filter: blur(0);
    }
}

.tour-details {
    padding: 20px;
}

.abandon-button {
    background-color: #ff4d4f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: auto;
    margin-right: 10px;
}

.back-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: auto;
}

.map-container {
    width: 65%;
    height: calc(81vh - 80px);
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.progress-bar-container {
    height: 10px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease;
}
