<div class="tour-page">
    <div class="tour-page-left">
        <div class="image-container">
            <img class="image" [src]="imageHost" *ngIf="tour"/>
        </div>

        <div class="title">
            Description
        </div>
        <div class="text">
            {{tour?.description}}
        </div>

        <div class="title">
            Places you'll see
        </div>
        <div class="cards">
            <div class="row-2">
                <div
                    class="list-cards-button"
                    id="prev-button"
                >
                    <div class="triangle-left"></div>
                </div>
                <div class="key-point-cards-container">
                    <div
                        *ngFor="let kp of tour?.keyPoints"
                        class="cards-buttons-container"
                    >
                        <xp-key-point-card [keyPoint]="kp"></xp-key-point-card>
                    </div>
                </div>
                <div
                    class="list-cards-button"
                    id="next-button"
                >
                    <div class="triangle-right"></div>
                </div>
            </div>
        </div>

        <div class="title">
            Reviews
        </div>
        <xp-review></xp-review>
    </div>



    <div class="tour-page-right">
        <div class="tour-title">Paris, Eiffel tower</div>

        <div class="tour-tags">
            <div class="tour-tag" *ngFor="let tag of tour?.tags">{{tag}}</div>
        </div>

        <div class="tour-rating">
            <fa-icon class="tour-rating-star" [icon]="faStar"/>
            <div class="tour-rating-average">{{tour?.averageRating}}</div>
        </div>

        <div class="label-splitter">
            <div class="label">Difficulty:</div>
            <div class="label">Distance:</div>
            <div class="value">{{tour?.difficulty}}</div>
            <div class="value">{{tour?.distance}} km</div>
        </div>

        <div class="label-splitter">
            <div class="label">Publish date:</div>
            <div class="label">Price:</div>
            <div class="value" *ngIf="tour">{{formatDate(tour.publishDate)}}</div>
            <div class="value yellow" *ngIf="tour">
                {{tour.price}}
                <fa-icon [icon]="faCoins"/>
            </div>
        </div>

        <div class="tour-price">
            <div class="btn add-to-cart" *ngIf="user && user.role === 'tourist'" (click)="addOrderItem()">
                <fa-icon [icon]="faCartShopping"/>
                <div class="add-to-cart-text">&nbsp;Add</div>
            </div>
        </div>
    </div>
</div>
