<!--div class="key-point-card">
    <img [src]="keyPointImage" />
    <div class="key-point-coordinates">
        <div>{{ keyPoint.latitude }}</div>
        <div>{{ keyPoint.longitude }}</div>
    </div>

    <div class="key-point-name">{{ keyPoint.name }}</div>
    <div class="key-point-description">
        <p>{{ keyPoint.description }}</p>
    </div>
</div-->

<div
    class="key-point-card"
    [ngClass]="{
        'add-new': isAddNew || isAddNewPublic,
        public: isPublic
    }"
>
    <div class="add-new-kp" *ngIf="isAddNew">
        <fa-stack class="icon-stack">
            <fa-icon class="icon" [icon]="faNew" stackItemSize="1x" />
            <fa-icon
                class="icon small-icon"
                [icon]="faPlus"
                stackItemSize="1x"
            />
        </fa-stack>
        <div>Add a new keypoint.</div>
    </div>
    <div class="add-new-public" *ngIf="isAddNewPublic">
        <fa-stack class="icon-stack">
            <fa-icon class="icon" [icon]="faPublic" stackItemSize="1x" />
            <fa-icon
                class="icon small-icon"
                [icon]="faPlus"
                stackItemSize="1x"
            />
        </fa-stack>
        <div>Add a public keypoint.</div>
    </div>
    <div
        *ngIf="!isAddNew && !isAddNewPublic"
        class="key-point-image"
        [style.background-image]="'url(' + keyPointImage + ')'"
    ></div>
    <div class="key-point-overlay" *ngIf="!isAddNew && !isAddNewPublic">
        <div class="key-point-name">{{ keyPoint.name }}</div>
        <div class="key-point-description">
            <div class="description">
                {{ keyPoint.description }}
            </div>
        </div>
    </div>
    <div
        class="delete-button"
        *ngIf="!isAddNew && !isAddNewPublic && !isPublic"
        (click)="delete(); $event.stopPropagation()"
        tooltipPosition="bottom"
        pTooltip="Delete"
    >
        <fa-icon [icon]="faCross" />
    </div>
</div>
