.create-form {
    width: 70%;
    margin: auto;
    height: 20rem;
    display: flex;
}

.form {
    float: left;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    width: 45%;
    height: 100%;
    margin-right: 10%;
}

input {
    width: 100%;
    margin-bottom: 3rem;
}

textarea {
    width: 100%;
    resize: none;
}

.markup-preview {
    float: right;
    margin-top: 2rem;
    padding: 10px;
    /* text-align: center; */
    background-color: rgb(var(--clr-background-secondary));
    border-radius: 0.45rem;
    border: 1px solid rgb(var(--clr-outline));
    color: rgba(var(--clr-text));
    backdrop-filter: blur(10px);
    width: 45%;
    height: 94%;
    overflow-wrap: break-word;
    overflow-x: auto;
}

.button-container {
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
