.create-form {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.left-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-section {
    width: 50%;
    height: 100%;
}

.form {
    align-items: center;
    text-align: center;
    height: 30rem;
}

.input-container {
    width: 100%;
    margin-bottom: 3rem;
}

.quill-area {
    height: 80%;
    overflow-y: auto;
}

.markup-preview {
    text-align: left;
    background-color: rgb(var(--clr-background-secondary));
    border-radius: 0.45rem;
    border: 1px solid rgb(var(--clr-outline));
    color: rgba(var(--clr-text));
    backdrop-filter: blur(10px);
    height: 100%;
    overflow-wrap: break-word;
    overflow-x: auto;
}

.quill {
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
}

.button-container {
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.error {
    border-color: red;
}
