<div id="dashboard">
  <h2>Tour Statistics</h2>

  <div class="stat-container">
    <p id="soldToursNumberText">Number of sales: </p>
    <p class="stat-value">{{ salesNumber }}</p>
  </div>

  <div class="stat-container">
    <p id="startedToursNumberText">Number of starts: </p>
    <p class="stat-value">{{ startNumber }}</p>
  </div>

  <div class="stat-container">
    <p id="completedToursNumberText">Number of completions: </p>
    <p class="stat-value">{{ completionNumber }}</p>
  </div>
</div>