/*
ovo je prekopiran kod iz landing page dela treba samo skontati gde staviti ove delove css-a
tako da bude pristupacan iz bilo kog dela
*/
.tour-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-cards-button:hover .triangle-left {
    border-color: transparent rgba(var(--clr-primary-500), 0.95) transparent
        transparent;
}
.list-cards-button:hover .triangle-right {
    border-color: transparent transparent transparent
        rgba(var(--clr-primary-500), 0.95);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(var(--clr-text), 1);
}

.list-cards-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 1.5rem;
}

.triangle-left,
.triangle-right {
    width: 0;
    height: 0;
    border-style: solid;
}

.triangle-left {
    border-width: 2rem 2.2rem 2rem 0;
    border-color: transparent rgba(var(--clr-primary-500), 1) transparent
        transparent;
}

.triangle-right {
    border-width: 2rem 0 2rem 2.2rem;
    border-color: transparent transparent transparent
        rgba(var(--clr-primary-500), 1);
}

.search-button {
    border-radius: 2rem;
    margin-left: auto;
    height: 100%;
    max-height: 100%;
    font-size: 1.05rem;
    font-weight: 500;
}

.tour-card {
    background-color: rgba(var(--clr-background-secondary), 1);
    border-radius: 1rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 1rem;
    padding: 0.625rem;
    width: 18rem;
    margin: 1.3rem;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
    position: relative;
    color: rgb(var(--clr-text));
}
