<div class="club-cards-container">
    <div class="list-cards-button" id="prev-button">
        <div class="triangle-left"></div>
    </div>

    <div class="club-card">
        <img class="club-image" src="/assets/images/airlines.png" />
        <div class="club-card-details">
            <div class="club-name">Airlines Associations</div>
        </div>
    </div>
    <div class="club-card">
        <img class="club-image" src="/assets/images/tour-guide.jpg" />
        <div class="club-card-details">
            <div class="club-name">Tour Guide Associations</div>    
        </div>
    </div>
    <div class="club-card">
        <img class="club-image" src="/assets/images/travel-club.jpg" />
        <div class="club-card-details">
            <div class="club-name">Travel Clubs</div>
        </div>
    </div>
    <div class="club-card">
        <img class="club-image" src="/assets/images/hotel-association.jpg" />
        <div class="club-card-details">
            <div class="club-name">Hotel Associations</div>
        </div>
    </div>
    <div class="list-cards-button" id="next-button">
        <div class="triangle-right"></div>
    </div>
</div>
