.blog {
    background-color: rgb(var(--clr-background-secondary));
    color: rgb(var(--clr-text));
    /* width: max-content; */
    width: 69rem;
    margin-top: 1rem;
    margin-inline: auto;
    border-radius: 0.5rem;
    border: 1px solid rgb(var(--clr-outline));
    display: flex;
}

.blog-content {
    padding-block: 2rem;
    padding-inline: 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.blog-title {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    border-bottom: 1px solid rgb(var(--clr-neutral-500));
}

.comment-section {
    margin-top: 1rem;
    margin-inline: auto;
    font-size: 1.2rem;
    max-width: 69rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
    color: rgb(var(--clr-text));
}

.comments-header {
    display: flex;
    width: 100%;
    align-items: center;
}

.new-comment-button {
    margin-left: auto;
}

.blog-description {
    font-size: 1.2rem;
    max-width: 90ch;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--clr-primary-500));
    color: rgb(var(--clr-neutral-100));
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    padding-inline: 0.6rem;
    padding-block: 0.2rem;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
    min-width: 2.5rem;
}

.vote {
    font-size: 1.8rem;
}

.vote:hover {
    cursor: pointer;
}

.vote fa-icon {
    transition: color 0.2s;
}

.vote-count {
    font-weight: 500;
    font-size: 1.3rem;
}

.upvote:hover {
    color: rgb(var(--clr-success-700));
}

.downvote:hover {
    color: rgb(var(--clr-error-700));
}

.active .upvote {
    color: rgb(var(--clr-success-700));
}

.active .downvote {
    color: rgb(var(--clr-error-700));
}

.closed:hover,
.closed .vote:hover {
    cursor: not-allowed !important;
}

.closed .upvote:hover {
    color: rgb(var(--clr-neutral-100));
}

.closed .downvote:hover {
    color: rgb(var(--clr-neutral-100));
}
