<div id="problems">
    <p>Problem</p>
    <hr>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Tourist id</th>
                    <th>Tour id</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Description</th>
                    <th>Reported time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of problems">
                    <td>{{p.touristId}}</td>
                    <td>{{p.tourId}}</td>
                    <td>{{p.category}}</td>
                    <td>{{p.priority}}</td>
                    <td>{{p.description}}</td>
                    <td>{{p.dateTime | date: "medium"}}</td>
                    
                    
            </tbody>
        </table>
    </div>
    
    </div>
</div>

