.info-container {
    overflow: auto;
    height: 100%;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    background-color: rgb(var(--clr-background));
    padding: 5px;
}

.info-container::-webkit-scrollbar {
    width: 0.5em;
}

.info-container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background));
    border-radius: 0.3rem;
}