<div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <img
            *ngIf="i === currentSlide"
            [src]="slide"
            class="slide"
            (error)="onImageError($event)"
            @carouselAnimation
        />
    </ng-container>

    <button
        *ngIf="slides.length > 1"
        class="control prev"
        (click)="onPreviousClick(); $event.stopPropagation()"
    >
        <span class="arrow left"></span>
    </button>
    <button
        *ngIf="slides.length > 1"
        class="control next"
        (click)="onNextClick(); $event.stopPropagation()"
    >
        <span class="arrow right"></span>
    </button>
</div>
