.cards-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 40rem;
    background-color: rgba(var(--clr-background-secondary));
    color: rgb(var(--clr-text));
    border: 2px solid rgba(var(--clr-background-secondary));
}

.cards-list::-webkit-scrollbar {
    width: 0.5em;
}

.cards-list::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background-secondary));
    border-radius: 0.3rem;
}

.notification {
    display: flex;
    background-color: rgb(var(--clr-background));
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.7rem;
    padding-bottom: 0.3rem;
    gap: 1rem;
    transition: 0.5s;
    border-bottom: 1px solid;
    color: rgb(var(--clr-text));
}

.seen {
    background-color: rgb(var(--clr-background-secondary));
}

.notification:hover {
    cursor: pointer;
    border-color: rgb(var(--clr-primary-300));
}

.notification-content {
    color: rgb(var(--clr-text), 0.7);
    align-self: center;
}

.picture {
    padding-bottom: 0.7rem;
}

.sender-avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: rgba(var(--clr-outline-contrast), 1) 2px solid;
    background-position: center;
    background-size: cover;
}

.sender {
    color: rgb(var(--clr-primary-300));
}

.notification-column {
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    height: 100%;
    gap: 0.6rem;
}

.row {
    display: flex;
}

.notification-row {
    display: flex;
    gap: 0.3rem;
    font-weight: 300;
}
