<div class="blog-cards-container">
    <div class="list-cards-button">
        <div class="triangle-left"></div>
    </div>

    <div class="blog-card">
        <div class="blog-date">02/02/2020</div>
        <div class="blog-name">The Perfect Adventurer's Guide</div>
        <div class="blog-author">Anja Ducic</div>
    </div>

    <div class="blog-card">
        <div class="blog-date">02/02/2020</div>
        <div class="blog-name">Travels, Tastes and Adventures</div>
        <div class="blog-author">Ivana Kovacevic</div>
    </div>

    <div class="blog-card">
        <div class="blog-date">02/02/2020</div>
        <div class="blog-name">Journey through Time and Cultures</div>
        <div class="blog-author">Filip Simic</div>
    </div>

    <div class="blog-card">
        <div class="blog-date">02/02/2020</div>
        <div class="blog-name">Perfect Roads</div>
        <div class="blog-author">Marko Nikolic</div>
    </div>

    <div class="list-cards-button" id="next-button">
        <div class="triangle-right"></div>
    </div>
</div>
