.users {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 2rem;
}

.container {
  background-color: #3f51b5;
  width: 20rem;
  padding: 1rem;
  height: 100%;
  margin: 1rem;
  border-radius: 0.2rem;
}

.user-data {
  font-size: 1.5rem;
  color: white;
  display: flex;
  width: 100%;
}

.button {
  margin-left: auto;
}
