<div class="users">
    <div
        class="container"
        [ngClass]="{ 'container-red': !user.isActive }"
        *ngFor="let user of users"
        #userContainer
    >
        <div class="user-data">
            <div class="picture"></div>
            <div class="row">
                <div class="username-color">
                    <div>@{{ user.username }}</div>
                </div>
                <div class="credentials">
                    <div>{{ user.name }}</div>
                    <div>{{ user.surname }}</div>
                </div>
                <div>{{ user.email }}</div>
            </div>
            <div class="button" *ngIf="user.isActive; else notActive">
                <fa-icon
                    class="red"
                    [icon]="faUserXmark"
                    (click)="disableAccount(user, userContainer)"
                />
            </div>
            <ng-template #notActive>
                <fa-icon class="button green" [icon]="faUserCheck" />
            </ng-template>
        </div>
    </div>
</div>
