.users {
    display: flex;
    margin-top: 2rem;
    margin-inline: 4rem;
    font-size: 2rem;
    color: rgb(var(--clr-text));
    overflow: hidden;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(var(--clr-background-secondary));
    width: 35rem;
    padding: 1rem;
    height: 100%;
    margin: 1rem;
    border-radius: 0.5rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    transition: transform 330ms ease-in-out;
    box-shadow: 0 0 0.5rem rgba(var(--clr-outline-contrast), 0.8);
}

.card-red {
    box-shadow: 0 0 0.5rem rgba(var(--clr-error-700), 0.8);
    border-color: rgba(var(--clr-error-700), 0.8);
}

.card:hover {
    transform: scale(1.05);
}

.user-data {
    display: flex;
    font-size: 1.5rem;
    color: var(--clr-neutral-700);
    gap: 0.5rem;
    width: 100%;
}

.username-color {
    color: rgb(var(--clr-primary-300));
}

.button {
    margin-left: auto;
    margin-block: auto;
}

fa-icon {
    font-size: 2rem;
}

.red {
    color: rgba(var(--clr-error-700), 0.8);
}

.green {
    color: rgba(var(--clr-success-700), 0.8);
}

fa-icon:hover {
    cursor: pointer;
    opacity: 0.9;
}

.picture {
    width: 8rem;
    height: 8rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 0.5rem;
    background-position: center;
    background-size: cover;
}

.row {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-block: auto;
}

.credentials {
    display: flex;
    gap: 0.5rem;
}

.button {
    display: flex;
    flex-direction: column;
}
