.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

input {
  margin: 1rem;
  width: 13rem;
}

button {
  margin-top: 10px;
}

.custom-tag-input {
  max-width: 13rem;
}

.tag-input-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-container {
  text-align: center;
  margin: 2rem;
  display: flex;
  justify-content: center;
}