:host {
    border-radius: 1rem !important;
}

* {
    margin: 0;
    padding: 0;
}

.add-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s ease-in-out;
    overflow-y: auto;
    pointer-events: none;
    border-radius: 1rem;
}

.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1.5rem;
    background-color: rgba(var(--clr-background, 1));
    border-radius: 1rem;
    width: 50rem;
    overflow-y: auto;
    pointer-events: all;
}

.tours {
    overflow-y: auto;
    max-height: 22rem;
    margin-bottom: 2rem;
}

.add-head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.add-x {
    position: absolute;
    left: 0;
    justify-self: left;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
}

.add-x:hover {
    color: rgba(var(--clr-primary-500), 0.9);
}

.add-title {
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-header);
    font-weight: 600;
    font-size: 2rem;
}

.add-form {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    width: 100%;
}

.add-label {
    margin-right: auto;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 500;
    font-size: 1.25rem;
}

.add-tags {
    display: inline-block;
    margin-right: 10px;
    text-align: left !important;
    color: rgba(var(--clr-text), 1);
}

.add-input {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    background-color: rgba(var(--clr-background-secondary, 1));
    border: rgba(var(--clr-background-secondary, 1)) 1px solid;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    vertical-align: middle;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1rem;
}
.add-input {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2rem;
    background-color: rgba(var(--clr-background-secondary, 1));
    border: rgba(var(--clr-background-secondary, 1)) 1px solid;
    border-radius: 0.5rem;
    padding-inline: 0.5rem;
    vertical-align: middle;
    color: rgba(var(--clr-text), 1);
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1rem;
    display: inline-block;
}

.add-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    background-color: rgba(var(--clr-primary-500), 1);
    border: rgba(var(--clr-primary-500, 1)) 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s;
}
.remove-submit {
    width: 16%;
    height: 2rem;
    background-color: rgba(var(--clr-primary-500), 1);
    border: rgba(var(--clr-primary-500, 1)) 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.add-submit:hover {
    background-color: rgba(var(--clr-primary-500), 0.9);
}
.add-submit-text {
    color: rgba(255, 255, 255, 1);
    font-family: var(--fnt-body);
    font-weight: 500;
    font-size: 1.25rem;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-primary-500), 1);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(var(--clr-primary-500), 0.4);
}

/* For Firefox */
/* You can customize these styles as needed */
.tours {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--clr-primary-500), 1)
        rgba(var(--clr-primary-500), 0.4);
}

/* Optional: Adjust the styles for the track and thumb in Firefox */
.tours::-webkit-scrollbar-thumb {
    background-color: #3498db;
    background-color: rgba(var(--clr-primary-500), 1);
}

.tours::-webkit-scrollbar-track {
    background-color: rgba(var(--clr-primary-500), 0.4);
}

.margin {
    margin-top: 1rem;
}
