.tab-list {
    display: flex;
    margin-inline: auto;
    width: clamp(70rem, 60%, 50%);
    justify-content: center;
}

.tab {
    position: relative;
    font-family: var(--fnt-body);
    font-weight: 400;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem 0.7rem 1rem;
    gap: 1rem;
    /* border-bottom: 2px solid rgb(var(--clr-outline-contrast)); */
    color: rgb(var(--clr-text));
    /* border-radius: 0.6rem; */
    white-space: nowrap;
    transition: 150ms ease-in-out;
    min-width: 22rem;
}

.tab:hover {
    /* background-color: rgb(var(--clr-background-secondary)); */
    /* border-color: rgb(var(--clr-text)); */
    cursor: pointer;
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.3);
}

.tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(var(--clr-outline-contrast));

    transform: scaleX(0.5);
    transform-origin: center;
    transition: 150ms ease-in-out;
}

.tab:hover::after {
    transform: scaleX(1);
}

.selected-tab {
    border-color: rgb(var(--clr-primary-500)) !important;
    border-bottom-width: 4px;
    color: rgb(var(--clr-primary-500));
    /* background-color: rgb(var(--clr-background-secondary)); */
    background: radial-gradient(
        circle at center,
        rgba(var(--clr-background-secondary), 1) 40%,
        rgba(0, 0, 0, 0) 70%
    );
}

.selected-tab::after {
    height: 4px;
    background-color: rgb(var(--clr-primary-500));
    transform: scaleX(1);
}

.selected-tab:hover {
    cursor: default;
    box-shadow: none;
}

.tab-content {
    min-height: 20rem;
    padding: 1rem;
}
