<div id="equipment">
    <hr>
    <div id="equipment-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of facilityNotifications">
                    <td>{{n.description}}</td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let n of keyPointNotifications">
                    <td>{{n.description}}</td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
    </div>
</div>

