<div class="wrapper">
    <xp-map mapName="encounter_map"></xp-map>
    <div class="simulator-btn" (click)="openSimulator()">
        <fa-icon class="upvote" [icon]="faLocation" />
    </div>
    <div class="execution">
        <div
            class="btn"
            *ngIf="!encounterInstance && encounter"
            (click)="activateEncounter()"
        >
            Activate
        </div>
        <div
            class="btn"
            *ngIf="encounterInstance?.status === 0 && encounter"
            (click)="completeEncounter()"
        >
            Complete
        </div>
        <div
            class="img"
            *ngIf="encounterInstance?.status === 0 && encounter?.type === 1"
        >
            <img [src]="image" alt="Encounter Image" />
        </div>
    </div>
</div>
