<!-- <div id="club">
    <p>Clubs</p>
    <hr>
    <div id="club-details">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let club of clubs">
                    <td>{{club.username}}</td>
                    <td>{{club.name}}</td>
                    <td>{{club.description}}</td>
                    <td>
                        <button color="primary" mat-icon-button (click)="toggleShowImage(club.image)">
                            <mat-icon>image</mat-icon>
                        </button>
                    </td>
                    <td>
                        <button *ngIf="user.id != club.ownerId" color="primary" mat-button (click)="sendJoinRequest(club.id !== undefined ? club.id : 0)">
                            Send join request 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="shouldShowImage">
        <img [src]="imgSrc" width="400px" height="400px"/>
    </div>
    </div>
</div> -->

<div class="clubs">
    <div class="clubs-header">
        <div class="clubs-header-title">Clubs</div>
        <div class="clubs-header-paragraph">
            Welcome to our vibrant community of travel enthusiasts! Dive into a
            world of shared experiences and boundless wanderlust on our Clubs
            page. Here, fellow travelers converge to form unique clubs, each
            dedicated to exploring specific tours and destinations. Whether
            you're a solo adventurer seeking like-minded companions or a group
            looking to expand your circle, our clubs provide a platform to
            discuss, plan, and share the excitement of upcoming journeys.
        </div>
    </div>
    <div class="separator"></div>
    <div class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon" />
        <input
            type="text"
            class="search-input"
            placeholder="Search clubs..."
            [(ngModel)]="searchString"
            (input)="search()"
        />
    </div>
    <div class="clubs-wrapper">
        <div class="club-wrapper" *ngFor="let club of displayClubs">
            <xp-club-card [showButtons]="false" [club]="club"></xp-club-card>
        </div>
    </div>
</div>
