.map-container {
    width: 100%;
    align-self: center;
}

::ng-deep .leaflet-right.leaflet-top {
    z-index: 900 !important;
    color: rgb(var(--clr-text)) !important;
    /* background-color: rgb(var(--clr-background-secondary)) !important; */
}

::ng-deep .leaflet-routing-container {
    background-color: rgb(var(--clr-background-secondary)) !important;
    font-family: var(--fnt-body) !important;
    /* color: rgb(var(--clr-text)) !important; */
}
