<div class="problem-answer-modal">
    <div class="problem-answer">
        <div class="header">
            <div class="description">
                {{ headerText }}
            </div>
            <div class="button" *ngIf="user.role !== 'author'">
                <fa-icon [icon]="faSquareCheck" (click)="resolveProblem()" />
            </div>
        </div>
        <xp-problem-comment-create
            [problem]="problem"
            (onAddAnswer)="addHeader($event)"
        />
        <div class="comments">
            <xp-problem-comment-list />
        </div>
    </div>
</div>
