<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-column">
                <h2>Company</h2>
                <a href="#" class="footer-company-items">About us</a>
                <a href="#" class="footer-company-items">Careers</a>
            </div>
            <div class="footer-column">
                <h2>Support</h2>
                <a href="#" class="footer-support-items">Contact</a>
                <a href="#" class="footer-support-items">Privacy Policy</a>
            </div>
            <div class="footer-column">
                <h2>Follow us</h2>
                <div class="social-media-icons">
                    <a href="#"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/facebook.svg"
                    /></a>
                    <a href="#"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/instagram.svg"
                    /></a>
                    <a href="#"
                        ><img
                            class="footer-icon-social-media"
                            src="/assets/icons/twitter.svg"
                    /></a>
                </div>
                <h2 class="payment-methods">Payment Methods</h2>
                <div class="payment-icons">
                    <img
                        class="footer-icon-social-media"
                        src="/assets/icons/mastercard.svg"
                    />
                    <img
                        class="footer-icon-social-media"
                        src="/assets/icons/paypal.svg"
                    />
                    <img
                        class="footer-icon-social-media"
                        src="/assets/icons/maestro.svg"
                    />
                    <img
                        class="footer-icon-social-media"
                        src="/assets/icons/visa.svg"
                    />
                </div>
            </div>
        </div>
        <div class="footer-line"></div>
        <p>Copyright &copy; 2023 Explorer. All Rights Reserved.</p>
    </div>
</footer>
