<div class="user-row">
    <div class="user-info">
        <div
            class="user-avatar"
            [style.background-image]="'url(' + user.profilePicture + ')'"
        ></div>
        <div class="column">
            <div class="fullname">
                {{ person.name + " " + person.surname }}
            </div>
            <div class="username">
                {{ "@" + user.username }}
            </div>
        </div>
    </div>
    <div class="buttons">
        <div
            *ngIf="enableFollow"
            (click)="unfollowOrFollow(followId)"
            class="follow-btn"
        >
            <fa-icon [icon]="followStatus ? faUserCheck : faUserPlus" />

            {{ followStatus ? "Following" : "Follow" }}
        </div>
        <div
            *ngIf="followStatus"
            (click)="openMessageDialog(user.id)"
            class="btn message"
        >
            <fa-icon [icon]="faEnvelope" />
            Message
        </div>
    </div>
</div>
