<div class="tour-card">
    <div *ngIf="tour.hasDiscount" class="discount-badge">-50% OFF</div>
    <div class="card" [routerLink]="['/tour/',tour.id]">
        <ng-container *ngFor="let image of images; let i = index">
            <img *ngIf="i === currentIndex" [src]="image" class="tour-image" @carouselAnimation/>
        </ng-container>
    </div>
    
    <div class="tour-card-details">
        <div class="tour-name" [routerLink]="['/tour/',tour.id]">{{ tour.name }}</div>
        <div class="tour-tags">
        
            <div *ngFor="let tag of displayedTags" class="tour-tag">{{ tag }}</div>
            
            <button 
                    *ngIf="tour.tags.length>3"
                    class="show-more-button"
                    (click)="toggleShowMore()"
                >
                {{ showMore ? 'Hide' : '+' }}{{ showMore ? '' : tour.tags.length-3 + ' More' }}
                </button>
        </div>

        <div class="tour-review-content">
            <div class="tour-review">{{ tour.averageRating }}</div>
            <img class="tour-review-icon" [src]="'/assets/icons/star.svg'" />
        </div>
        <div
            [ngClass]="
                tour.hasDiscount ? 'tour-discounted-price' : 'tour-price'
            "
        >
            {{ tour.price }}
            <fa-icon class="fa-coins-icon" [icon]="faCoins"/>
        </div>
    </div>
</div>
