.card{
    background-size: cover;
    background-position: center;
    position: relative;
}
p{
    font-size: 1.125rem;
}
.tour-card {
    background-color: rgba(var(--clr-background-secondary), 1);
    border-radius: 1rem;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 1rem;
    padding: 0.625rem;
    width: 18rem;
    margin: 1.3rem;
    height:26.4rem;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
    color: rgb(var(--clr-text));
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}
.tour-card:hover {
    transform: scale(1.05);
}
.tour-rating-star {
    font-family: var(--fnt-body);
    font-size: 1rem;
    color: rgba(var(--clr-accent-500), 1);
    margin-left: 0.2rem;
}
.tour-image {
    height: 11rem;
    width: 17rem;
    border-radius: 1rem;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


/* tour-card.component.css */



.tour-card-details {
    margin-top: 12rem;
}

.tour-name {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.tour-name:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
}

.tour-tags {
    display: flex;
    flex-wrap: wrap;
    height: 5.5rem;
    overflow-y:auto;
    position: relative;

}

.tour-tag {
    background-color: rgba(var(--clr-neutral-300), 1);
    padding: 5px 0.625rem;
    border: 1px solid rgba(var(--clr-neutral-700));
    border-radius: 5px;
    display: flex;
    margin-right: 5px;
    white-space: nowrap;
    flex: 0 1 auto;
    margin-top: 0.5rem;
    color: rgb(var(--clr-neutral-900));
    font-size: 15px;
    height: 2rem;
}

.tour-review {
    margin-right: 5px;
    font-size: 1.125rem;
}

.tour-review-content {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.tour-review-icon {
    height: 1.2rem;
}


.discount-badge {
    top: 1rem;
    left: 1rem;
    background-color: rgba(var(--clr-accent-500), 1);
    color: rgb(var(--clr-neutral-900));
    padding: 5px 0.625rem;
    border-radius: 0.625rem;
    z-index: 2;
    position: absolute;
    font-weight: 600;
}
.tour-discounted-price {
    color: rgba(var(--clr-accent-700), 1);
    margin-top: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-shadow: rgba(var(--clr-accent-500)) 1px 0 0.625rem;
}
.show-more-button {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.show-more-button:hover {
    text-decoration: underline;
}
.fa-coins-icon {
    bottom: 0.65rem;
    color: rgba(var(--clr-accent-500), 1);
    opacity: 1;
}
.tour-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: visible;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

.tour-price-discount {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: visible;
    font-size: 1.125rem;
}

.tour-price-value {
    padding: 0;
    margin: 0;
    font-family: var(--fnt-body);
    color: rgba(var(--clr-accent-500), 1);
    line-height: 1.5rem;
    margin-right: 0.25rem;
    font-size:1.5rem;
}

.tour-price-tokens {
    padding: 0;
    margin: 0;
    z-index: 2;
    color: rgba(var(--clr-accent-500), 1);
    line-height: 1.5rem;
}
.discount {
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: 0.5rem;
    font-weight: bold;
    font-size: 1.125rem;
    color: rgba(var(--clr-text), 1);
    margin-left: 6rem;
    color:red;
}

s, strike{text-decoration:none;position:relative;}
s::before, strike::before {
    top: 50%;
    background:red;
    opacity:1;
    content: '';
    width: 170%;
    position: absolute;
    height:.1em;
    border-radius:.1em;
    left: -5%;
    white-space:nowrap;
    display: block;
    z-index: 999;
    transform: rotate(180deg);  
}
s.straight::before, strike.straight::before{transform: rotate(0deg);left:-1%;width:102%;}

