.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 270px;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 15px;
}

.form-button {
    width: 260px;
    margin-bottom: 10px;
}

.form-button-bottom {
    width: 100%;
    margin-top: auto;
}

.tour-cards-scrollable {
    position: relative;
    width: 540px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-column {
    background-color: rgba(var(--clr-background-secondary), 1);
    margin: 0px;
    min-height: 390px;
    min-width: 500px;
}

.list-container {
    min-height: 400px;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .list-container.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .right-column.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #808080;
  }
