.blog-card {
    background-color: rgba(var(--clr-background-secondary), 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 1rem;
    padding: 0.625rem;
    width: 18rem;
    height: 8rem;
    margin: 1.3rem;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
    color: rgb(var(--clr-text));
}

.blog-date {
    align-self: flex-end;
}

.blog-name {
    font-size: 1.3rem;
    font-weight: bold;
    align-self: flex-start;
    margin: auto;
    margin-left: 0;
    cursor: pointer;
}

.blog-name:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
}

.blog-author {
    font-size: 1rem;
    margin-top: 0.5rem;
    align-self: flex-start;
}

.blog-author:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
    cursor: pointer;
}
