.blog-card {
    background-color: rgba(var(--clr-background-secondary), 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgba(var(--clr-outline-contrast), 1) 1px solid;
    border-radius: 1rem;
    padding: 0.625rem;
    width: 18rem;
    margin: 1.3rem;
    box-shadow: 0 0 1rem rgba(var(--clr-outline-contrast), 0.8);
    color: rgb(var(--clr-text));
    transition: transform 0.2s;
    height: 23.8rem;
}
.blog-card:hover {
    transform: scale(1.05); /* Uvećanje kartice kada se miš nalazi iznad nje */
}
.blog-date {
    align-self: flex-end;
}

.blog-name {
    font-size: 1.3rem;
    font-weight: bold;
    align-self: flex-start;
    margin: auto;
    margin-left: 0;
    cursor: pointer;
}

.blog-name:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
}

.blog-author {
    font-size: 1rem;
    margin-top: 0.5rem;
    align-self: flex-start;
}
.blog-description {
    font-size: 1rem;
    margin-top: 0.1rem;
    align-self: flex-start;
    height: 15rem;
    overflow-y:auto;
    position: relative;
}

.blog-author:hover {
    color: rgba(var(--clr-primary-500), 1);
    text-decoration: underline;
    cursor: pointer;
}

.show-more-button {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    padding: 8px 0;
    align-self: flex-start;

    background-color: transparent;
    border: none;
}

.show-more-button:hover {
    text-decoration: underline;
}
