div {
    width: 25rem;
    display:flex;
    gap: 1.25rem;
    flex-direction: column;
    font: inherit;
}

.form-button{
    width: max-content;
    padding: 0.5rem 1rem;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.35s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: white;
    max-height: 40px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(var(--clr-primary-500));
    width: 25rem;
}

.form-button-remove{
    padding: 0.5rem 1rem;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.35s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: white;
    max-height: 40px;
    height: 20px;
    border-radius: 4px;
    border: none;
    background-color: rgb(var(--clr-primary-500));
    width: 25rem;
    height: 2rem;
}

.mat-icon {
    vertical-align: middle;
}
