<div class="add-modal">
    <div class="add" (click)="$event.stopPropagation()">
        <div class="add-head">
            <fa-icon class="add-x" [icon]="faXmark" (click)="onClose()" />
            <div class="add-title">Add tour</div>
        </div>
        <form class="add-form" [formGroup]="addTourForm">
            <div class="add-label">Name:</div>
            <input
                class="add-input"
                type="text"
                placeholder="Name"
                formControlName="name"
            />
            <div class="add-label">Description:</div>
            <input
                class="add-input"
                type="text"
                placeholder="Description"
                formControlName="description"
            />
            <div class="add-label">Difficulty</div>
            <input
                class="add-input"
                min="1"
                max="5"
                type="number"
                placeholder="Difficulty"
                formControlName="difficulty"
            />
            <div class="add-label">Price</div>
            <input
                class="add-input"
                type="number"
                placeholder="Price"
                formControlName="price"
            />
            <div class="add-label">Tags:</div>
            <div class="add-tags">
                <div
                    *ngFor="
                        let tag of addTourForm.get('tags')?.value;
                        let i = index
                    "
                >
                    <button class="remove-submit" (click)="removeTag(i)">
                        Remove</button
                    >&nbsp; <span>{{ tag }}</span
                    ><br /><br />
                </div>
            </div>
            <input class="add-input" placeholder="Tags" #tagInput type="text" />
            <button
                class="add-submit"
                (click)="addTag(tagInput.value); tagInput.value = ''"
            >
                <div class="add-submit-text">Add tag</div></button
            ><br />
            <button class="add-submit" type="submit" (click)="submit()">
                <div class="add-submit-text">Add</div>
            </button>
        </form>
    </div>
</div>
