<div class="add-modal">
    <div class="add" (click)="$event.stopPropagation()">
        <div class="add-head">
            <fa-icon class="add-x" [icon]="faXmark" (click)="onClose()" />
            <div class="add-title">Add tour</div>
        </div>
        <form class="add-form" [formGroup]="addTourForm">
            <div class="add-label">Name:</div>
            <input
                class="add-input"
                type="text"
                placeholder="New Tour"
                formControlName="name"
            />
            <div class="add-label">Description:</div>
            <input
                class="add-input"
                type="text"
                placeholder="A short description of this tour"
                formControlName="description"
            />
            <div class="add-label">Difficulty</div>
            <input
                class="add-input"
                min="1"
                max="5"
                type="number"
                placeholder="3"
                formControlName="difficulty"
            />
            <div class="add-label">Price</div>
            <input
                class="add-input"
                type="number"
                placeholder="100"
                formControlName="price"
            />
            <div class="add-label">Category</div>
            <select
                class="add-input"
                placeholder="Category"
                formControlName="category"
            >
                <option>Adventure</option>
                <option>Family trips</option>
                <option>Cruise</option>
                <option>Cultural</option>
            </select>
            <div class="add-label">Tags:</div>
            <div class="add-tags">
                <mat-chip-grid #chipGrid>
                    <mat-chip-row
                        *ngFor="let tag of addTourForm.get('tags')?.value"
                        (removed)="remove(tag)"
                    >
                        {{ tag }}
                        <button
                            matChipRemove
                            [attr.aria-label]="'remove ' + tag"
                        >
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input
                    class="add-input"
                    placeholder="Culture, Architecture, Nature..."
                    #fruitInput
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"
                    tooltipPosition="right"
                    pTooltip="enter to submit"
                    tooltipEvent="focus"
                />
            </div>
            <button class="add-submit" type="submit" (click)="submit()">
                <div class="add-submit-text">Add</div>
            </button>
        </form>
    </div>
</div>
