<div class="cards-list">
    <div
        class="payment"
        *ngFor="let payment of records"
    >
    <div class="payment-column">
        <div class="payment-header">
            Successful payment for {{ payment.tourName +":"}}&nbsp;&nbsp;{{payment.price}}<fa-icon class="fa-coins-icon" [icon]="faCoins"/>
        </div>
        <div class="payment-row">
            <div>Transaction occured on: {{ datePipe.transform(payment.purchasedDate, 'dd/MM/yyyy HH:mm:ss') }}</div>
        </div>
        
    </div>
</div>
