<div class="banner">
    <div class="banner-image"></div>
    <div class="overlay">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <div class="home-search-bar">
            <fa-icon [icon]="faSearch" class="search-icon" />
            <input
                type="text"
                class="search-input"
                placeholder="Places to go, things to do, blogs,..."
            />
            <div class="btn search-button">Search</div>
        </div>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
            fugiat eos eligendi optio non possimus nesciunt minima deserunt
            aliquid totam.
        </p>
    </div>
</div>
<xp-home-tabs></xp-home-tabs>