<div class="tour-search">
    <div class="tour-search-header">
        <div class="tour-search-header-title">Facilities</div>
        <div class="tour-search-header-paragraph">
            Welcome to tour facilities page, tailored just for you! Whether
            you're eager to explore cultural gems, indulge in local cuisine,
            locate a restroom, or find a pharmacy, here's how you can fully
            leverage your journey: Museums: Immerse yourself in cultural
            heritage through visits to museums on our tours. Discover
            fascinating history and artistic treasures at the destinations we
            explore. Check opening hours and recommendations to make the most of
            your visit. Restaurants: Explore the local culinary scene through
            our recommended restaurants. Find delicious specialties and
            authentic local delicacies. Learn about options for vegetarians,
            vegans, or special dietary needs. Restrooms: We provide information
            about restroom facilities along the tour to ensure your comfort
            throughout the journey.
        </div>
        <div class="tour-search-header-paragraph">
            Check the locations of restrooms along your route and learn about
            any additional amenities. Pharmacies: Your safety is our priority,
            so we offer information on the nearest pharmacies. Take note of
            pharmacy locations for easy access to basic health supplies. These
            details are here to help you make the most of every moment during
            your tour. If you have additional questions or specific requests,
            feel free to contact us. Enjoy your journey!
        </div>
    </div>
    <div class="tour-search-body">
        <div class="keypoints">
            <div
                class="list-cards-button"
                id="prev-button"
                (click)="scrollToPrevCard()"
            >
                <div class="triangle-left"></div>
            </div>
            <div class="key-point-cards-container">
                <xp-facility-card
                    [isAddNew]="true"
                    (click)="openNewFacilityDialog()"
                />

                <div
                    *ngFor="let f of facilities"
                    class="cards-buttons-container"
                >
                    <xp-facility-card
                        [facility]="f"
                        (deleteClicked)="deleteFacility($event)"
                        (click)="openEditFacilityDialog(f)"
                    >
                    </xp-facility-card>
                </div>
            </div>
            <div
                class="list-cards-button"
                id="next-button"
                (click)="scrollToNextCard()"
            >
                <div class="triangle-right"></div>
            </div>
        </div>
    </div>
</div>
