<div class="tour-search">
    <div class="tour-search-header">
        <div class="tour-search-header-title">Facilities</div>
        <div class="tour-search-header-paragraph">
            Welcome to the realm of fascination, where every step crafts a
            narrative and each object weaves into the tapestry of your travel
            dreams. The world of Facilities opens doors to diversity, wonders,
            and experiences born from your passion and dedication to
            exploration. This space isn't just a catalog of locations; it's a
            testament to your vision, where each object bears the imprint of
            your desire to share unique encounters. Every detail here mirrors
            your enthusiasm, whether they're museums steeped in knowledge and
            artistry, hidden corners of history, or natural marvels you've
            chosen to unveil to others.
        </div>
        <div class="tour-search-header-paragraph">
            The Facilities showcased here aren't mere visitation spots; they are
            the fruits of your labor, time, and dedication poured into shaping
            experiences. Beyond practical information, this is a canvas painted
            with your passion for travel, where every piece of advice is a
            stroke in the broader picture you've crafted. This collection of
            Facilities beckons exploration into your passion and creativity.
            Each object carries your indelible mark, reminding all of your
            unique role in crafting the experiences of travel and discovery.
            This is your stage, your story — and each object here is a window
            into the world of fascinating possibilities you've crafted.
        </div>
    </div>
    <div class="tour-search-body">
        <div class="keypoints">
            <div
                class="list-cards-button"
                id="prev-button"
                (click)="scrollToPrevCard()"
            >
                <div class="triangle-left"></div>
            </div>
            <div class="key-point-cards-container">
                <xp-facility-card
                    [isAddNew]="true"
                    (click)="openNewFacilityDialog()"
                />

                <div
                    *ngFor="let f of facilities"
                    class="cards-buttons-container"
                >
                    <xp-facility-card
                        [facility]="f"
                        (deleteClicked)="deleteFacility($event)"
                        (click)="openEditFacilityDialog(f)"
                    >
                    </xp-facility-card>
                </div>
            </div>
            <div
                class="list-cards-button"
                id="next-button"
                (click)="scrollToNextCard()"
            >
                <div class="triangle-right"></div>
            </div>
        </div>
    </div>
</div>
