<form [formGroup]="blogForm"  class="p-4 border rounded">
  <div class="mb-3">
    <label for="naslov" class="form-label">Naslov:</label>
    <input type="text" id="naslov" class="form-control" formControlName="title">
  </div>

  <div class="mb-3">
    <label for="opis">Opis:</label>
    <textarea id="opis" formControlName="description" class="markdown-textarea"></textarea>
  </div>
  

  <div class="mb-3">
    <label for="datumKreiranja" class="form-label">Datum Kreiranja:</label>
    <input type="date" id="datumKreiranja" class="form-control" formControlName="date">
  </div>

  <div class="mb-3">
    <label for="slike" class="form-label">Slike (opciono):</label>
    <input type="text" id="slike" class="form-control" formControlName="pictures">
  </div>

  <div class="mb-3">
    <label for="status" class="form-label">Status:</label>
    <select id="status" class="form-select" formControlName="status">
      <option value=0>Draft</option>
      <option value=1>Published</option>
      <option value=2>Closed</option>
    </select>
  </div>
  <div class="mb-3">
    <div markdown="blogForm.get('opis').value"></div>
  </div>

  <button type="button" (click)="submitBlog()" class="btn btn-primary" [disabled]="!blogForm.valid">Kreiraj Blog</button>



</form>
