<div class="dialog">
    <div class="title">
        <h1>{{ showFollowers ? "Followers" : "Following" }}</h1>
    </div>
    <div *ngIf="showFollowers" class="user-container">
        <xp-user-row
            *ngFor="let f of followers"
            [user]="f.followedBy"
            [person]="f.followedByPerson"
            [followId]="f.id"
            [followStatus]="f.followingStatus"
            followDirection="following"
        />
    </div>
    <div *ngIf="showFollowings" class="user-container">
        <xp-user-row
            *ngFor="let f of followings"
            [user]="f.following"
            [person]="f.followingPerson"
            [followId]="f.id"
            [followStatus]="f.followingStatus"
            (unfollowOrFollowEvent)="unfollowOrFollow($event)"
            [enableFollow]="true"
        />
    </div>
</div>
