.float-container {
    padding: 10px;
    min-width: 350px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 10px;
    text-align: center;
}
#followers-details {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 350px;
    background-color: rgb(var(--clr-neutral-100));
}

thead tr {
    background-color: rgb(var(--clr-neutral-300));
    color: rgb(var(--clr-primary-900));
    text-align: center;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid rgb(var(--clr-accent-700));
}

tbody tr:nth-of-type(even) {
    background-color: rgb(var(--clr-neutral-300));
}

tbody tr:last-of-type {
    border-bottom: 2px solid rgb(var(--clr-accent-300));
}

tbody tr.active-row {
    font-weight: bold;
    color: rgb(var(--clr-accent-500));
}
