<div class="add-modal" (click)="onClose()">
    <div class="add" (click)="$event.stopPropagation()">
        <div class="add-head">
            <fa-icon class="add-x" [icon]="faXmark" (click)="onClose()"/>
            <div class="add-title">Add bundle</div>
        </div>
        <form class="add-form" [formGroup]="addBundleForm">
            <div class="add-label">Name:</div>
            <input class="add-input" type="text" placeholder="Name" formControlName="name"/>
            <div class="add-label">Price</div>
            <input class="add-input" type="number" placeholder="Price" formControlName="price">
            
            <button class="add-submit" type="submit" (click)="submit()">
                <div class="add-submit-text">Add</div>
            </button>
           
        </form>
    </div>
</div>
