<div class="keypoint-modal delayed-fade-in">
    <div class="kp">
        <div class="keypoint-head">
            <fa-icon class="x" [icon]="faXmark" (click)="onClose()" />
            <div class="title">Congratulations!</div>
        </div>
        <div class="explanation">You have unlocked the keypoint secret!</div>
        <div class="keypoint-secret">
            <div class="content">
                <div
                    class="keypoint-secret-text"
                    [class.keypoint-secret-text-revealed]="!hidden"
                >
                    <b>Secret:</b> {{ secret }}
                </div>
                <div
                    class="keypoint-secret-hider"
                    (click)="reveal()"
                    [class.keypoint-secret-hider-revealed]="!hidden"
                >
                    <fa-icon
                        class="keypoint-secret-hider-mask"
                        [icon]="faMask"
                        [class.keypoint-secret-hider-mask-revealed]="!hidden"
                    />
                    <div
                        class="instruction"
                        [class.instruction-revealed]="!hidden"
                    >
                        Click to reveal
                    </div>
                </div>
            </div>
        </div>
    </div>
    <xp-confetti></xp-confetti>
</div>
