:host {
    border-radius: 1rem !important;
}

* {
    margin: 0;
    padding: 0;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 1rem;
}

.register-x {
    top: 0;
    left: 0;
    color: rgba(var(--clr-primary-500), 1);
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.15s;
    z-index: 2;
    pointer-events: all;
    padding: 10px;
}

.register-x:hover {
    color: rgba(var(--clr-primary-500), 0.9);
}
.register-head {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.image {
    border-radius: 1rem;
    max-width: 90%;
    max-height: 45rem;
    object-fit: contain;
}
