<h1>Adventure Essentials: Must-Visit Stops</h1>
<div class="tour-cards-container">
    <div class="list-cards-button" id="prev-button" (click)="scrollToPrevAdventureCard()">
        <div class="triangle-left"></div>
    </div>

    <div class="adventure-card-container"><xp-tour-card *ngFor="let tour of adventureTours" [tour]="tour" [routerLink]="['/tour/',tour.id]" class="tour-details"></xp-tour-card></div>

    <div class="list-cards-button" id="next-button" (click)="scrollToNextAdventureCard()">
        <div class="triangle-right"></div>
    </div>
</div>
<h1>Family Trips: Unforgettable Journeys Together</h1>
<div class="tour-cards-container">
    <div class="list-cards-button" id="prev-button" (click)="scrollToPrevFamilyCard()">
        <div class="triangle-left"></div>
    </div>

    <div class="family-card-container"><xp-tour-card *ngFor="let tour of familyTours" [tour]="tour" [routerLink]="['/tour/',tour.id]" class="tour-details"></xp-tour-card></div>

    <div class="list-cards-button" id="next-button" (click)="scrollToNextFamilyCard()">
        <div class="triangle-right"></div>
    </div>
</div>

<h1>Captivating Cruise Stops</h1>
<div class="tour-cards-container">
    <div class="list-cards-button" id="prev-button" (click)="scrollToPrevCruiseCard()">
        <div class="triangle-left"></div>
    </div>

    <div class="cruise-card-container"><xp-tour-card *ngFor="let tour of cruiseTours" [tour]="tour" [routerLink]="['/tour/',tour.id]" class="tour-details"></xp-tour-card></div>

    <div class="list-cards-button" id="next-button" (click)="scrollToNextCruiseCard()">
        <div class="triangle-right"></div>
    </div>
</div>
<h1>Top Cultural Sights You Can't Miss</h1>
<div class="tour-cards-container">
    <div class="list-cards-button" id="prev-button" (click)="scrollToPrevCulturalCard()">
        <div class="triangle-left"></div>
    </div>

    <div class="cultural-card-container"><xp-tour-card *ngFor="let tour of culturalTours" [tour]="tour" [routerLink]="['/tour/',tour.id]" class="tour-details"></xp-tour-card></div>

    <div class="list-cards-button" id="next-button" (click)="scrollToNextCulturalCard()">
        <div class="triangle-right"></div>
    </div>
</div>
