<div class="tour-cards-container">
    <div class="list-cards-button" id="prev-button">
        <div class="triangle-left"></div>
    </div>

    <div class="tour-card">
        <div class="discount-badge">-50% OFF</div>
        <img class="tour-image" src="/assets/images/istanbul.jpg" />
        <div class="tour-card-details">
            <div class="tour-name">Istanbul</div>
            <div class="tour-tags">
                <div class="tour-tag">Aya Sophia</div>
                <div class="tour-tag">Dolmabahce Palace</div>
                <div class="tour-tag">Galata Tower</div>
                <div class="tour-tag">Topkapi Palace</div>
            </div>
            <div class="tour-review-content">
                <div class="tour-review">4.5</div>
                <img
                    class="tour-review-icon"
                    [src]="'/assets/icons/star.svg'"
                />
            </div>
            <div class="tour-discounted-price">From €500</div>
        </div>
    </div>

    <div class="tour-card">
        <img class="tour-image" src="/assets/images/vietnam.jpg" />
        <div class="tour-card-details">
            <div class="tour-name">Vietnam</div>
            <div class="tour-tags">
                <div class="tour-tag">Ha Long Bay</div>
                <div class="tour-tag">Sapa</div>
                <div class="tour-tag">Cu Chi Tunnels</div>
                <div class="tour-tag">Mekong Delta</div>
            </div>
            <div class="tour-review-content">
                <div class="tour-review">4.6</div>
                <img
                    class="tour-review-icon"
                    [src]="'/assets/icons/star.svg'"
                />
            </div>
            <div class="tour-price">From €1,698</div>
        </div>
    </div>

    <div class="tour-card">
        <img class="tour-image" src="/assets/images/barcelona.jpeg" />
        <div class="tour-card-details">
            <div class="tour-name">Barcelona</div>
            <div class="tour-tags">
                <div class="tour-tag">Sagrada Familia</div>
                <div class="tour-tag">Park Guell</div>
                <div class="tour-tag">Montserrat</div>
                <div class="tour-tag">Camp Nou</div>
            </div>
            <div class="tour-review-content">
                <div class="tour-review">5.0</div>
                <img
                    class="tour-review-icon"
                    [src]="'/assets/icons/star.svg'"
                />
            </div>
            <div class="tour-price">From €1,000</div>
        </div>
    </div>

    <div class="tour-card">
        <img class="tour-image" src="/assets/images/mostar.jpg" />
        <div class="tour-card-details">
            <div class="tour-name">Mostar</div>
            <div class="tour-tags">
                <div class="tour-tag">Old Bridge</div>
                <div class="tour-tag">Neretva River</div>
                <div class="tour-tag">Dervish Monastery</div>
                <div class="tour-tag">Museum</div>
            </div>
            <div class="tour-review-content">
                <div class="tour-review">4.0</div>
                <img
                    class="tour-review-icon"
                    [src]="'/assets/icons/star.svg'"
                />
            </div>
            <div class="tour-price">From €300</div>
        </div>
    </div>

    <div class="list-cards-button" id="next-button">
        <div class="triangle-right"></div>
    </div>
</div>
