<div class="add-modal">
    <div class="add" (click)="$event.stopPropagation()">
        <div class="add-head">
            <fa-icon class="add-x" [icon]="faXmark" (click)="onClose()" />
            <div class="add-title">Add tour</div>
        </div>
        <form class="add-form" [formGroup]="addTourForm">
            <div class="add-label">Name:</div>
            <input
                class="add-input"
                type="text"
                placeholder="Name"
                formControlName="name"
            />
            <div class="add-label">Description:</div>
            <input
                class="add-input"
                type="text"
                placeholder="Description"
                formControlName="description"
            />
            <button class="add-submit" type="submit" (click)="submit()">
                <div class="add-submit-text">Add</div>
            </button>
        </form>
    </div>
</div>
