<!-- <form [formGroup]="clubForm">
    <div>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="description"
          cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Image url</mat-label>
            <input matInput formControlName="image" type="text"/>
        </mat-form-field>
    <button *ngIf="!shouldEdit" color="primary" type="submit" (click)="addClub()" mat-raised-button>Done</button>
    <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateClub()" mat-raised-button>Done</button>
    </div>
</form> -->

<div class="container">
    <form [formGroup]="clubForm">
        <div class="form">
            <h1 *ngIf="shouldEdit">Update Club</h1>
            <h1 *ngIf="!shouldEdit">Add Club</h1>
            <div class="column">
                <div class="field">
                    <input formControlName="name" type="text" required />
                    <label>Name</label>
                </div>
                <div class="field">
                    <input formControlName="description" type="text" required />
                    <label>Description</label>
                </div>
                <label class="custom-file-upload btn">
                    <fa-icon [icon]="faImage" />
                    Upload image
                    <input
                        id="file-upload"
                        accept="image/*"
                        type="file"
                        [(ngModel)]="imagePath"
                        class="upload-input"
                        (change)="onSelectImage($event)"
                    />
                </label>
            </div>
            <div class="btn" *ngIf="!shouldEdit" (click)="addClub()">Add</div>
            <div class="btn" *ngIf="shouldEdit" (click)="updateClub()">
                Update
            </div>
        </div>
    </form>
</div>
