<div class="container">
    <form [formGroup]="encounterForm">
        <div class="form">
            <h1>Add Encounter</h1>
            <div class="column">
                <div class="field">
                    <select
                        class="select"
                        formControlName="selectedStatus"
                        (change)="changeStatus()"
                        required
                    >
                        <option value="1">Social</option>
                        <option value="2">Hidden</option>
                        <option value="3">Misc</option>
                    </select>
                    <label>Type</label>
                </div>
                <div class="field">
                    <input formControlName="title" type="text" required />
                    <label>Title</label>
                </div>
                <div class="field">
                    <input formControlName="description" type="text" required />
                    <label>Description</label>
                </div>
                <div class="field">
                    <input
                        formControlName="radius"
                        min="1"
                        type="number"
                        required
                    />
                    <label>Radius</label>
                </div>
                <div class="field">
                    <input
                        formControlName="xp"
                        min="1"
                        type="number"
                        required
                    />
                    <label>Xp reward</label>
                </div>
                <div *ngIf="encounterType == 1">
                    <div class="field">
                        <input
                            formControlName="peopleNumber"
                            min="1"
                            type="number"
                            required
                        />
                        <label>People number</label>
                    </div>
                </div>

                <!-- <div class="field">
                    <input
                        id="file-upload"
                        accept="image/*"
                        type="file"
                        [(ngModel)]="picturePath"
                        required
                        (change)="onSelectImage($event)"
                    />
                    <label>Picture</label>
                </div> -->

                <label class="custom-file-upload btn">
                    <fa-icon [icon]="faImage" />
                    Upload image
                    <input
                        id="file-upload"
                        accept="image/*"
                        type="file"
                        [(ngModel)]="picturePath"
                        class="upload-input"
                        (change)="onSelectImage($event)"
                    />
                </label>

                <!-- <img [src]="picturePath" /> -->
                <div class="btn" (click)="selectEncounterOnMap()">
                    <fa-icon [icon]="faMapMarker" />
                    Select encounter
                </div>
                <div
                    *ngIf="
                        encounterType == 2 &&
                        encounterCoords.latitude > 0 &&
                        encounterCoords.longitude > 0
                    "
                    class="btn"
                    (click)="selectPictureOnMap()"
                >
                    Select hidden location
                </div>
            </div>
            <div class="btn" (click)="createEncounter()">Create</div>
        </div>
    </form>
</div>
