:host {
    border-radius: 1rem !important;
}

.deadline-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(var(--clr-text));
    pointer-events: none;
    border-radius: 1rem;
}

.btn {
    margin: 0;
}

.form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 25rem;
    height: 60%;
    background-color: rgb(var(--clr-background-secondary));
    border-radius: 1rem;
    justify-content: space-between;
}
