.comment {
    border: 2px solid rgb(var(--clr-outline));
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(var(--clr-background-secondary));
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
}

.edit-mode textarea {
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 10px;
    background-color: rgb(var(--clr-background-secondary));
    border: 1px solid rgb(var(--clr-outline));
    color: rgba(var(--clr-text));
}

.edit-mode button {
    margin-top: 10px;
}

.comment-text {
    margin: 0;
}

.edit-icon {
    color: rgba(var(--clr-primary-500), 0.8);
}

.delete-icon {
    color: rgba(var(--clr-error-500), 0.8);
}
