<div class="comment">
    <div class="comment-header">
        <div class="author">
            <img class = "author-avatar" [src]="user.profilePicture" alt="User Profile Picture">

            <div class="author-username">
                {{ user.username }}
            </div>
            <div class="comment-date">
                {{ comment.createdAt | date : "mediumDate" }}
            </div>
        </div>
        <div *ngIf="isEditMode" class="edit-mode">
            <textarea [(ngModel)]="editedText"></textarea>
            <button color="primary" (click)="saveChanges()" mat-raised-button>
                Save
            </button>
        </div>
        <p class="comment-text" *ngIf="!isEditMode">{{ comment.text }}</p>
        <div
            *ngIf="user.id == comment.authorId && blog.status != 2"
            class="comment-control"
        >
            <button
                mat-icon-button
                (click)="toggleEditMode()"
                tooltipPosition="bottom"
                pTooltip="Edit"
            >
                <mat-icon class="edit-icon">edit</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="onDeleteComment()"
                tooltipPosition="bottom"
                pTooltip="Delete"
            >
                <mat-icon class="delete-icon">delete</mat-icon>
            </button>
        </div>
    </div>
</div>
