.comment {
    border: 2px solid rgb(var(--clr-outline));
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(var(--clr-background-secondary));
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author-username {
    font-weight: bold;
    max-width: 10ch;
}

.edit-mode {
    width: 100%;
    min-height: 8rem;
    max-height: 15rem;
}

.edit-mode textarea {
    width: 100%;
    min-height: 8rem;
    max-height: 15rem;
    resize: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 10px;
    background-color: rgb(var(--clr-background));
    border: 1px solid rgb(var(--clr-outline));
    color: rgba(var(--clr-text));
}

.edit-mode button {
    margin-top: 10px;
}

.comment-text {
    margin: 0;
    width: 100%;
    background-color: rgb(var(--clr-background));
    border-radius: 0.5rem;
    min-height: 8rem;
    max-height: 15rem;
    padding: 1rem;
}

.edit-icon {
    color: rgba(var(--clr-primary-500), 0.9);
}

.delete-icon {
    color: rgba(var(--clr-error-300), 0.9);
}

.author-avatar {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: rgba(var(--clr-outline-contrast), 1) 2px solid;
    background-position: center;
    background-size: cover;
}

.comment-control {
    margin-left: auto;
    display: flex;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 10rem;
    min-width: 10rem;
}

.comment-date {
    font-size: 0.9rem;
    text-align: center;
}
