<div class="comment">
    <div class="comment-header">
        <div class="author">{{comment.authorId}}</div>
        <div *ngIf="user.id == comment.authorId">
            <button mat-icon-button (click)="toggleEditMode()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteComment()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="isEditMode" class="edit-mode">
        <textarea [(ngModel)]="editedText" rows="3"></textarea>
        <button color="primary" (click)="saveChanges()" mat-raised-button>Save</button>
    </div>
    <p class="comment-text" *ngIf="!isEditMode">{{comment.text}}</p>
</div>