<div class="blog">
    <div class="sidebar">
        <div
            class="vote"
            [ngClass]="{
                active: vote ? vote.voteType == VoteType.UPVOTE : false
            }"
            (click)="onUpVote($event)"
        >
            <fa-icon class="upvote" [icon]="faCircleUp" />
        </div>
        <div class="vote-count">{{ blog.voteCount }}</div>
        <div
            class="vote"
            [ngClass]="{
                active: vote ? vote.voteType == VoteType.DOWNVOTE : false
            }"
            (click)="onDownVote($event)"
        >
            <fa-icon class="downvote" [icon]="faCircleDown" />
        </div>
    </div>
    <div class="blog-content">
        <div class="blog-header">
            <h2 class="blog-title">{{ blog.title }}</h2>
            <span class="blog-date">{{blog.date | date:'medium'}}</span>
        </div>
        <div class="blog-description" [innerHTML]="blogMarkdown"></div>
        <div class="bottom-bar">
            <div class="comments bottom-bar-button">
                <fa-icon [icon]="faComment" />{{ blog.comments.length }}
                Comments
            </div>
            <div class="share bottom-bar-button" (click)="shareBlog($event)">
                <fa-icon [icon]="faShareFromSquare" />
                Share
            </div>
            <div *ngIf="blog.status == 0" class="publish bottom-bar-button" (click)="publishBlog($event)">
                <fa-icon [icon]="faCheckCircle" />
                Publish
            </div>
        </div>
    </div>
</div>
