.cards-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    min-height: 40rem;
    background-color: rgba(var(--clr-background-secondary));
    border: 2px solid rgba(var(--clr-background-secondary));
}

.cards-list::-webkit-scrollbar {
    width: 0.5em;
}

.cards-list::-webkit-scrollbar-thumb {
    background-color: rgba(var(--clr-background-secondary));
    border-radius: 0.3rem;
}

.notification {
    width: 100%;
}
