.bundles {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.bundles-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: rgba(var(--border-primary), 1) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bundles-header-title {
    color: rgba(var(--clr-text), 1);
    transition: color 0.15s;
    font-family: var(--fnt-header);
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-right: auto;
}

.bundles-results {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    width: 100%;
}

.bundles-body{
    display: flex;
    width: 100%;
    min-height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bundle-card {
    width: 48%;
}

.fixed-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}