<div class="bundles">
    <div class="bundles-header">
        <div class="bundles-header-title">Bundles</div>
    </div>

    <div class="bundles-body">
        <div class="bundles-results">
            <div class="bundle-card" *ngFor="let bundle of bundles">
                <xp-bundle-card [bundle]="bundle"></xp-bundle-card>
            </div>
        </div>
    </div>

    <div class="btn fixed-button" (click)="onAddClicked()">
        <fa-icon class="tour-filter-x" [icon]="faPlus"/>
        <div class="fixed-button-text">Add</div>
    </div>
</div>
